name=Frogger vDemo [US, AU]
platform=PC
demo=true
mwiOffset=0x7E2E0
mwiLength=12676
mapBook=0x73748
themeBook=0x73FB8
ramOffset=0x401600
arcadeLevelAddress=0x6A8A0
bmpPointerAddress=0x64670
extraBmpPointers=1
musicAddress=0x63F40
pickupData=0x71040
scripts=0x69F88
# SKY_LAND doesn't exist in this build, so we don't define txl_sky_land.

soundList=main

[HiddenParts]
GEN_FROG.XAR=15
GEN_FROG2.XMR=15
GEN_FROG3.XMR=15
GEN_FROG4.XMR=15
GEN_FROG_WIN95.XAR=15
GEN_FROG2_WIN95.XMR=15
GEN_FROG3_WIN95.XMR=15
GEN_FROG4_WIN95.XMR=15