name=Frogger PSX Build 04 (1997-07-03)
platform=PLAYSTATION
build=4
ramOffset=0xF800
mwiOffset=0x87448
mwiLength=46176
mapBook=0x94DB4
themeBook=0x95174
#arcadeLevelAddress=0x90F98 # Not implemented yet in this build.
musicAddress=0x9B1B4
bmpPointerAddress=0x85140
pickupData=0x97948
txl_sky_land=0x86CDC
scripts=0x95744

animList=1997-07-31-psx-build20
entityList=1997-07-03-psx-build04
formList=1997-07-03-psx-build02
scriptList=1997-07-03-psx-build02
soundList=1997-06-19-psx-build01

[HiddenParts]
GEN_FROG.XAR=15
OPT_HIFROG.XAR=15
GEN_CHECKPOINT_1.XAR=4
GEN_CHECKPOINT_2.XAR=4
GEN_CHECKPOINT_3.XAR=4
GEN_CHECKPOINT_4.XAR=4
GEN_CHECKPOINT_5.XAR=4
GENM_CHECKPOINT_1.XAR=4
GENM_CHECKPOINT_2.XAR=4
GENM_CHECKPOINT_3.XAR=4
GENM_CHECKPOINT_4.XAR=4
GENM_CHECKPOINT_5.XAR=4
ORG_BABY_FROG.XAR=14
ORGM_BABY_FROG.XAR=14

[MapConfig]
groupPaddingAmount=6
g2Supported=true
enableMapAnimations=true

[[Island Placeholder]]
groupPaddingAmount=7
g2Supported=false
enableMapAnimations=false
oldMapTexturedPolyFormat=true
islandPlaceholder=true
JUN1.MAP
JUN2.MAP
JUN3.MAP
JUN4.MAP
JUN5.MAP
ARN1.MAP
ARN2.MAP
ARN3.MAP
ARN4.MAP
ARN5.MAP
ARNM.MAP
JUNM.MAP

[[SKY5.MAP]] # Just an old sky map.
groupPaddingAmount=7
g2Supported=false
enableMapAnimations=false
oldMapTexturedPolyFormat=true

[[QB.MAP]]
groupPaddingAmount=8
g2Supported=false
enableMapAnimations=false