name=0.32 PAL Demo (PBPX-95007)
exeChecksum=1606649674
buildTime=1998-06-26 16:38:54
build=32
platform=PLAYSTATION
region=EUROPE
mwiOffset=0xAC22C
mwiLength=5376
levelTable=0xB20E0
levelTableEntryByteSize=92
entityTable=0xB07C8
entityTableSize=294
overlayTable=0xAB7A0

[HiddenParts]
DAN.XAR=15,16,17,18

# FILE LISTING TO-DO
