name=MediEvil 0.39 (PAL)
game=MEDIEVIL
platform=PLAYSTATION
mwiOffset=0xB4378
mwiLength=23584
levelTable=0xC00E4
levelTableEntryByteSize=104
entityTable=0xBD154
entityTableSize=296
overlayTable=0xB38C8

[HiddenParts]
DAN.XAR=15,16,17,18

# FILE LISTING TO-DO