name=MediEvil Rolling Demo
game=MEDIEVIL
platform=PLAYSTATION
mwiOffset=0x95930
mwiLength=12672
levelTable=0x9CF7C
levelTableSize=32
levelTableEntryByteSize=76
entityTable=0x9C2A4
entityTableSize=97
overlayTable=0x94FF8

[Files]
FIXEDVRM.VLO # 0
GENTITLP.VLO # 1
GENTITLN.VLO # 2
HELP_ENG.BIN # 3
HELP_FRE.BIN # 4
GEN_SND.VH # 5
GEN_SND.VB # 6

FIX_MOFS.WAD # 7
CHAOSRUNE.XMR # 8
DAN.XAR # 9
DANBATTLEAXE.XMR # 10
DANBIGSWORD.XMR # 11
DANCLUB.XMR # 12
DANCROSSBOW.XMR # 13
DANDAGGER.XMR # 14
DANDRUMSTICK.XMR # 15
DANLEFTARMWEAPON.XMR # 16
DANLIGHTNING.XMR # 17
DANLONGBOW.XMR # 18
DANMAGICSWORD.XMR # 19
SHIELD.XMR # 20
DANSPEAR.XMR # 21
DANSSWORD.XMR # 22
TRIDENT # 23
EARTHRUNE.XMR # 24
FADESHIELD.XMR # 25
MOONRUNE.XMR # 26
POT_DRAGON.XMR # 27
POT_ENLARGE.XMR # 28
POT_INVISIBLE.XMR # 29
POT_NMESUBST.XMR # 30
POT_SERPENT.XMR # 31
POT_SHRINK.XMR # 32
POT_SHRINKNME.XMR # 33
POT_WEAPON.XMR # 34
STARRUNE.XMR # 35
TIMERUNE.XMR # 36
ENERGYBONE.XMR # 37
EXTRALIFE.XMR # 38
COINBAG.XMR # 39
LIDNORMAL.XMR # 40
LIDRANDOM.XMR # 41
LIDSMART.XMR # 42
BLUEFLY.XMR # 43
GREENFLY.XMR # 44
REDFLY.XMR # 45
BLUESYBOX.XMR # 46
PURPLEBOX.XMR # 47
YELLOWBOX.XMR # 48

# 0) Title Level
TL_VRAM.VLO # 49
TL_MEM.WAD # 50
TL_DATA.PGD # 51

# 1) The Graveyard
GY_DEM1.BIN # 52
GY_DEM2.BIN # 53
GY_SND.VH # 54
GY_SND.VB # 55

GY_VRAM.VLO # 56
GY_MEM.WAD # 57
GY_DATA.MAP # 58
GY_DATA.QTR # 59
GY_DATA.PGD # 60
GY_DATA.XXX # 61
GY_COFFIN.XAR # 62
GY_COFFINVAULTDOOR.XMR # 63
GY_CRYPTSGATEL.XMR # 64
GY_CRYPTSGATER.XMR # 65
GY_MIDDLEBRIDGE.XMR # 66
WOLFGATE.XMR # 67
GY_UNDERTAKERGATEL.XMR # 68
GY_UNDERTAKERGATER.XMR # 69
RAT.XAR # 70
SEVEREDHAND.XAR # 71
TORCH.XMR # 72
WOLF.XAR # 73
ZOMBIE1.XAR # 74
ZOMBIE2.XAR # 75
ZOMBIEHEADLESS.XAR # 76

# 2) The Coffin Vaults
CV_VRAM.VLO # 77
CV_MEM.WAD # 78
CV_DATA.PGD # 79

# 3) Cemetery Hill
CH_VRAM.VLO # 80
CH_MEM.WAD # 81
CH_DATA.PGD # 82

# 4) The Desecrated Church
DC_DEM1.BIN # 83
DC_SND.VH # 84
DC_SND.VB # 85

DC_VRAM.VLO # 86
DC_MEM.WAD # 87
DC_DATA.MAP # 88
DC_DATA.QTR # 89
DC_DATA.PGD # 90
DC_DATA.XXX # 91
CANDLE1.XMR # 92
CANDLE2.XMR # 93
CANDLE3.XMR # 94
CANDLEABRA.XMR # 95
DC_ARCHDOORL.XMR # 96
DC_ARCHDOORR.XMR # 97
DC_CHURCHLDOOR.XMR # 98
DC_CHURCHRDOOR.XMR # 99
DC_COFFINLID1.XAR # 100
DC_COFFINLID2.XAR # 101
DC_FRONTGATEL.XMR # 102
DC_FRONTGATER.XMR # 103
GLASSDEMON.XAR # 104
IMP.XAR # 105
MRORGAN.XAR # 106

# 5) The Scarecrow Fields
SF_DEM1.BIN # 107

SF_VRAM.VLO # 108
SF_MEM.WAD # 109
SF_DATA.MAP # 110
SF_DATA.QTR # 111
SF_DATA.PGD # 112
SF_DATA.XXX # 113
CROW.XAR # 114
SCARECROW.XAR # 115
SF_BIGSPINNY.XMR # 116
SF_INOUTPOLE.XMR # 117
SF_RESPINNYBOWL.XAR # 118
SF_TRAPPART1.XMR # 119 Generic name
SF_TRAPPART2.XMR # 120 Generic name
SF_TRAPPART3.XMR # 121 Generic name
SF_SPINNYTHING.XAR # 122
SF_TOPGRINDSTONE1.XMR # 123
SF_WICKERHEAD.XMR # 124
SF_WINDSAILS1.XAR # 125
SF_WINDSAILS2.XAR # 126
SNAKEHEAD.XMR # 127

# 6) The Fields of Dust
FD_VRAM.VLO # 128
FD_MEM.WAD # 129
FD_DATA.XXX # 130

# 7) The Ant Caves
AC_DEM1.BIN # 131
AC_DEM2.BIN # 132
AC_VRAM.VLO # 133
AC_MEM.WAD # 134
AC_DATA.MAP # 135
AC_DATA.QTR # 136
AC_DATA.PGD # 137
AC_DATA.XXX # 138
AC_ANT.XAR # 139
AC_LARVA.XAR # 140
AC_QUEEN.XAR # 141
BAT.XAR # 142

# 8) The Crystal Caves
CC_VRAM.VLO # 143
CC_MEM.WAD # 144
CC_DATA.XXX # 145
CC_CRYSTALBIG.XMR # 146
CC_CRYSTALRISING1.XAR # 147
CC_CRYSTALRISING2.XAR # 148
SPINNINGCRYSTALPLATFORM.XAR # 149
SCOUTDEMON.XAR # 150

# 9) Pumpkin Gorge
PG_DEM1.BIN # 151
PG_DEM2.BIN # 152
PG_DEM3.BIN # 153

PG_VRAM.VLO # 154
PG_MEM.WAD # 155
PG_DATA.MAP # 156
PG_DATA.QTR # 157
PG_DATA.PGD # 158
PG_DATA.XXX # 159
PG_BARNDOOR.XMR # 160
PG_HILLGATE.XMR # 161
PG_LDOOR.XMR # 162
PG_MAINDOORL.XMR # 163
PG_MAINDOORR.XMR # 164
PG_RDOOR.XMR # 165
PUMPKINPLANT.XAR # 166
MAGGOT.XAR # 167
PUMPKIN.XMR # 168
PUMPKINSLICE.XMR # 169
PUMPKINCLUMP_1.XMR # 170
PUMPKINCLUMP_2.XMR # 171
PG_BARNSCREWBASE.XMR # 172
PG_BARNSCREWTOP.XMR # 173
PG_MUSHYTOP1.XMR # 174
PG_MUSHYTOP2.XMR # 175

# 10) The Pumpkin Serpent
PS_VRAM.VLO # 176
PS_MEM.WAD # 177
PS_DATA.XXX # 178
PUMPKING.XAR # 179
PS_PODBALL.XMR # 180

# 11) The Sleeping Village
SV_DEM1.BIN # 181

SV_VRAM.VLO # 182
SV_MEM.WAD # 183
SV_DATA.MAP # 184
SV_DATA.QTR # 185
SV_DATA.PGD # 186
SV_DATA.XXX # 187
BABYMAD.XAR # 188
DRUNK.XAR # 189
GARGOYLE.XAR # 190
SV_MRMAD.XAR # 191
MRSMAD.XAR # 192
SV_NELLYMAD.XAR # 193
DRUNKBOTTLE.XMR # 194
SV_ARMOURSTAND.XMR # 195
SV_BEDNELLIE.XMR # 196
SV_BEDDOUBLE.XMR # 197
SV_BEDSINGLE.XMR # 198
SV_CANDLE.XMR # 199
SV_CHAIR.XMR # 200
SV_POT.XMR # 201
SV_COT.XMR # 202
SV_CRATE.XMR # 203
SV_DRESSER.XMR # 204
SV_FIREPLACESMALL.XMR # 205
SV_FIREPLACEBIG.XMR # 206
SV_STOUP.XMR # 207
SV_PEW.XMR # 208
SV_SHIELDDECOR1.XMR # 209
SV_SHIELDDECOR2.XMR # 210
SV_SHIELDDECOR3.XMR # 211
SV_BARREL.XMR # 212
SV_STOOLSMALL.XMR # 213
SV_STOOLBIG.XMR # 214
SV_TABLESMALL.XMR # 215
SV_TABLEBIG.XMR # 216
SV_WARDROBE.XMR # 217
SV_GATESHORTL.XMR # 218
SV_GATESHORTR.XMR # 219
SV_DOOR1.XMR # 220 Generic name
SV_DOOR2.XMR # 221 Generic name
SV_DOOR3.XMR # 222 Generic name
SV_DOOR4.XMR # 223 Generic name
SV_DOOR5.XMR # 224 Generic name
SV_DOOR6.XMR # 225 Generic name
SV_DOOR7.XMR # 226 Generic name
SV_DOOR8.XMR # 227 Generic name
SV_TALLGATEL.XMR # 228 Generic name
SV_TALLGATER.XMR # 229 Generic name
SV_GATEL.XMR # 230 Generic name
SV_GATER.XMR # 231 Generic name
DUCK.XMR # 232

# 12) Pools of The Ancient Dead
PD_DEM1.BIN # 233
PD_DEM2.BIN # 234
PD_SND.VH # 235
PD_SND.VB # 236

PD_VRAM.VLO # 237
PD_MEM.WAD # 238
PD_DATA.MAP # 239
PD_DATA.QTR # 240
PD_DATA.PGD # 241
PD_DATA.XXX # 242
FATKNIGHT.XAR # 243
GHOUL.XAR # 244
MUDKNIGHT.XAR # 245
MUDKNIGHTAXE.XMR # 246
PDCHARIOT.XAR # 247

# 13) The River
TR_VRAM.VLO # 248
TR_MEM.WAD # 249
TR_DATA.XXX # 250

# 14) The Muddy Riverbank
MR_VRAM.VLO # 251
MR_MEM.WAD # 252
MR_DATA.XXX # 253

# 15) The Mud Slide
MS_VRAM.VLO # 254
MS_MEM.WAD # 255
MS_DATA.XXX # 256

# 16) The Asylum Grounds
AG_DEM1.BIN # 257
AG_DEM2.BIN # 258
AG_SND.VH # 259
AG_SND.VB # 260

AG_VRAM.VLO # 261
AG_MEM.WAD # 262
AG_DATA.MAP # 263
AG_DATA.QTR # 264
AG_DATA.PGD # 265
AG_DATA.XXX # 266
AG_CASTLE.XMR # 267
AG_CHESSSQUARE.XMR # 268
AG_DRAGONHEAD1.XMR # 269
AG_FATBOYHEAD.XMR # 270
AG_FRONTGATE_LEFT1.XMR # 271
AG_FRONTGATE_RIGHT1.XMR # 272
AG_GATE1_LEFT1.XMR # 273
AG_GATE1_RIGHT1.XMR # 274
AG_GATE2_LEFT1.XMR # 275
AG_GATE2_RIGHT1.XMR # 276
AG_KINGIE.XMR # 277
AG_OCTOHEAD.XMR # 278
AG_PASTOR.XMR # 279
AG_QUEENIE.XMR # 280
AG_STAR.XMR # 281
AG_VULTUREHEAD.XMR # 282
AG_VULTUREMOBILE.XMR # 283
AG_WALL1.XMR # 284
AG_WALL2.XMR # 285
AG_WALL3.XMR # 286
AG_ZAROCKINGHEAD.XMR # 287
PATIENT.XAR # 288
MADMONK.XAR # 289

# 17) Dan's Crypt
CR_VRAM.VLO # 290
CR_MEM.WAD # 291
CR_DATA.XXX # 292

# 18) The Enchanted Earth
EE_VRAM.VLO # 293
EE_MEM.WAD # 294
EE_DATA.XXX # 295

# 19) The Gallows Gauntlet
GG_VRAM.VLO # 296
GG_MEM.WAD # 297
GG_DATA.XXX # 298

# 20) The Haunted Ruins
HR_DEM1.BIN # 299
HR_VRAM.VLO # 300
HR_MEM.WAD # 301
HR_DATA.MAP # 302
HR_DATA.QTR # 303
HR_DATA.PGD # 304
HR_DATA.XXX # 305
CANNON.XAR # 306
CANNONBALL.XMR # 307
CHICKEN.XAR # 308
CRAWLINGDEMON.XAR # 309
FLYINGDEMON.XAR # 310
HANGEDMAN.XAR # 311
HR_BOULDER.XMR # 312
HR_CATAPULT.XAR # 313
HR_CYCLOPSHEAD1.XMR # 314
HR_DOOR1.XMR # 315
HR_DRAWBRIDGE.XMR # 316
HR_GARGOYLE.XMR # 317
HR_GRILLE1.XMR # 318
HR_OUTBLASTBLOCK.XMR # 319
HR_OUTDOORBLOCK.XMR # 320
HR_PILEOFCORN.XMR # 321
HR_ROOM2DOOR.XMR # 322
HR_THRONEROOMDOOR.XMR # 323
HR_TRAPDOORLEFT.XMR # 324
HR_TRAPDOORRIGHT.XMR # 325
RHINOTAUR.XAR # 326
SKEWEREDMAN.XAR # 327

# 21) Circle of Shadows
CS_VRAM.VLO # 328
CS_MEM.WAD # 329
CS_DATA.XXX # 330

# 22) The Silver Wood
SW_VRAM.VLO # 331
SW_MEM.WAD # 332
SW_DATA.XXX # 333

# 23) The Ghost Ship
GS_DEM1.BIN # 334
GS_DEM2.BIN # 335
GS_VRAM.VLO # 336
GS_MEM.WAD # 337
GS_DATA.MAP # 338
GS_DATA.QTR # 339
GS_DATA.PGD # 340
GS_DATA.XXX # 341
PIRATECHIEF.XAR # 342
PIRATENEW.XAR # 343
PIRATETHIN.XAR # 344
PIRATEDAGGER.XMR # 345
GS_BARREL.XMR # 346
SPINDLE.XMR # 347
GS_CANNON_DOOR.XMR # 348
GS_CAPTAIN_DOOR.XMR # 349
GS_MAJ_SPINDLE_DOORL.XMR # 350
GS_MAJ_SPINDLEDOORR.XMR # 351
GS_NET_DOORL.XMR # 352
GS_NET_DOORR.XMR # 353
GS_STERN_DOORL.XMR # 354
GS_STERN_DOORR.XMR # 355
GS_HANGINGLANTERN.XMR # 356
GS_WALLLANTERN.XMR # 357
GS_TRAP1.XMR # 358
GS_TRAP2.XMR # 359
GS_TRAP3.XMR # 360
GS_TRAP4.XMR # 361
GS_TRAP5.XMR # 362
GS_TRAP6.XMR # 363
GS_TRAP7.XMR # 364
GS_TRAP8.XMR # 365
GS_TRAP9.XMR # 366
GS_TRAP10.XMR # 367
GS_TRAP11.XMR # 368
GS_TRAP12.XMR # 369
GS_TRAP13.XMR # 370
GS_TRAP14.XMR # 371

# 24) The Entrance Hall
EH_VRAM.VLO # 372
EH_MEM.WAD # 373
EH_DATA.XXX # 374

# 25) The Halls of Illusion
HI_VRAM.VLO # 375
HI_MEM.WAD # 376
HI_DATA.XXX # 377

# 26) The Hub
TH_VRAM.VLO # 378
TH_MEM.WAD # 379
TH_DATA.XXX # 380

# 27) The Great Machine
GM_VRAM.VLO # 381
GM_MEM.WAD # 382
GM_DATA.XXX # 383

# 28) The Time Device
TD_VRAM.VLO # 384
TD_MEM.WAD # 385
TD_DATA.XXX # 386

# 29) The Lake
LA_VRAM.VLO # 387
LA_MEM.WAD # 388
LA_DATA.XXX # 389

# 30) Zarok's Lair
ZL_VRAM.VLO # 390
ZL_MEM.WAD # 391
ZL_DATA.XXX # 392

# X) Programmer's Playground
PP_VRAM.VLO # 393
PP_MEM.WAD # 394
PP_DATA.PGD # 395