# This file uses the official sound names.

# TODO: Update to 0.31

[GEN_SND]
FX_P_BOOM # 0
FX_P_CHICK_SQUELCH # 1
FX_P_CLUB_GROUND_BASH # 2
FX_P_SWORD_STONE # 3
FX_P_CROSSBOW_FIRE # 4
FX_P_FOOTSTEP_RUN # 5
FX_P_FOOTSTEP_WALK # 6
FX_P_GARGOYLE_BREATH2 # 7
FX_P_GARGOYLE_GRUNT2 # 8
FX_P_HIT_ORGANIC_SOFT # 9
FX_P_HIT_CLANK22 # 10
FX_P_HIT_THUD # 11
FX_P_LONGBOW_FIRE3A # 12
FX_P_MONEY_BAG44 # 13
FX_P_PICKUP # 14
FX_P_REBIRTH_ZAP # 15
FX_P_SPIRIT_INCOMING2 # 16
FX_P_SPIRIT_OUTGOING2 # 17
FX_P_SWORD_METAL # 18
FX_P_BONE_HIT # 19
FX_P_SWORD_SWIPE # 20
FX_P_PURCHASE_ITEM # 21
FX_P_TORCH2_LOOP # 22
FX_P_TRACKER # 23
FX_P_TREAURE_CHEST # 24
FX_P_DAN_DEATH1A # 25
FX_P_DAN_HURT1 # 26
FX_P_DAN_HURT2 # 27
FX_P_DAN_HURT3 # 28
FX_P_DAN_JAB1 # 29
FX_P_DAN_JUMP1 # 30
FX_P_DAN_JUMP2 # 31
FX_P_DAN_SIGH2 # 32
FX_P_CAMERA_NO_GO # 33
FX_P_PROJECTILE_LAND # 34
FX_P_AIM_LOCK2 # 35
FX_P_HEAD_HIT # 36
FX_P_PUZZLE_COMPLETE # 37
FX_P_UNKNOWN38 # 38
FX_P_AMB9_1OCT_LOOP # 39
FX_P_AMB2_1OCT_LOOP # 40
FX_P_DAN_FALL2 # 41
FX_P_CANNON # 42
FX_P_DAN_OI # 43
FX_P_POWER_UP2 # 44
FX_P_HIT_ORGANIC_SOLID # 45
FX_P_HIT_WOOD_HOLLOW # 46
FX_P_HIT_WOOD_SOLID # 47
FX_P_RICOCHET2 # 48
FX_P_ARM_POP # 49
FX_P_TWINKLE44_1OCT_LOOP # 50
FX_P_USE_KEY_CLUNK3A # 51
FX_P_PICKUP2 # 52
FX_P_DAN_SHOULDER_BARGE # 53
FX_P_DAN_BARGE_HIT # 54

[TL_SND]
FX_P_TL_LIGHTNING_ZAP # 0
FX_P_TL_RAIN_LOOP # 1
FX_P_TL_THUNDER # 2
FX_P_TL_THUNDER2 # 3
FX_P_TL_WATER # 4
FX_P_TL_BAT_FLAP # 5
FX_P_TL_BAT_SQUEAK # 6
FX_P_TL_WIND # 7
FX_P_TL_OWL # 8
FX_P_TL_AMBIENT_LAUGH1 # 9
FX_P_TL_AMBIENT_LAUGH2 # 10
FX_P_TL_BONE_CREAK1 # 11
FX_P_TL_BONE_CREAK2 # 12
FX_P_TL_SELECT_LAUGH # 13
FX_P_TL_SKELETON_LAUGH1 # 14
FX_P_TL_SKELETON_LAUGH2 # 15
FX_P_TL_SKELETON_LAUGH3 # 16
FX_P_TL_SKELETON_LAUGH4 # 17
FX_P_TL_SPIDER_WALK # 18

[GY1_SND]
FX_P_GY1_CHURCH_BELL # 0
FX_P_GY1_COFFIN_OPEN # 1
FX_P_GY1_COFFIN_RISE # 2
FX_P_GY1_ZOMBIE_HIT # 3
FX_P_GY1_STONERUMBLE # 4
FX_P_GY1_THUNDER # 5
FX_P_GY1_THUNDER2 # 6
FX_P_GY1_WATER_SPLASH2 # 7
FX_P_GY1_WIND_LOOP # 8
FX_P_GY1_WOLF_HOWL # 9
FX_P_GY1_ZOMBIE_CONFUSED # 10
FX_P_GY1_ZOMBIE_FALL # 11
FX_P_GY1_ZOMBIE_DIE1 # 12
FX_P_GY1_ZOMBIE_GROAN4 # 13
FX_P_GY1_ZOMBIE_ROAR1 # 14
FX_P_GY1_ZOMBIE_ROAR5 # 15
FX_P_GY1_ZOMBIE_WAKEUP # 16
FX_P_GY1_GATE_CLOSE # 17
FX_P_GY1_GATE_OPEN # 18
FX_P_GY1_DOOR_CREAK # 19
FX_P_GY1_DAN_DROWN2 # 20
FX_P_GY1_ZOMBIE_GROAN1 # 21
FX_P_GY1_ZOMBIE_WALK # 22

[GY2_SND]
FX_P_GY2_COFFIN_OPEN # 0
FX_P_GY2_COFFIN_RISE # 1
FX_P_GY2_THUNDER # 2
UNKNOWN_SOUND_NAME # 3
FX_P_GY2_WATER_LAP_LOOP # 4
FX_P_GY2_WATER_SPLASH2 # 5
FX_P_GY2_WOLF_GROWL # 6
FX_P_GY2_WOLF_HOWL # 7
FX_P_GY2_WOLF_SNARL2 # 8
FX_P_GY2_WOLF_WHIMPER # 9
FX_P_GY2_ZOMBIE_WAKEUP3 # 10
FX_P_GY2_ZOMBIE_ROAR1 # 11
FX_P_GY2_ZOMBIE_ROAR5 # 12
FX_P_GY2_ZOMBIE_CONFUSED4 # 13
FX_P_GY2_ZOMBIE_GROAN2 # 14
FX_P_GY2_ZOMBIE_GROAN4 # 15
FX_P_GY2_ZOMBIE_FALL # 16
FX_P_GY2_WIND_LOOP # 17
FX_P_GY2_WOLF_SNORE # 18
FX_P_GY2_STONERUMBLE # 19
FX_P_GY2_WATER_ROCK_FALL # 20
FX_P_GY2_DOOR_OPEN # 21
FX_P_GY2_DAN_DROWN2 # 22
FX_P_GY2_GATE_OPEN # 23
FX_P_GY2_ZOMBIE_WALK # 24
FX_P_GY2_ZOMBIE_HIT # 25
FX_P_GY2_ZOMBIE_DIE1 # 26
FX_P_GY2_MUD_SQUELCH # 27
FX_P_GY2_GATE_CLOSE # 28
FX_P_GY2_MUD_ESCAPE_SLURP # 29
FX_P_GY2_MUDPOP # 30
FX_P_GY_STONE_WOLF_MAGIC # 31
FX_P_GY2_WOOD_SPLINTER # 32

[CH_SND]
FX_P_CH_ZOMBIE_CONFUSED # 0
FX_P_CH_ZOMBIE_FALL # 1
FX_P_CH_ZOMBIE_GROAN1 # 2
FX_P_CH_ZOMBIE_GROAN2 # 3
FX_P_CH_ZOMBIE_ROAR1 # 4
FX_P_CH_ZOMBIE_ROAR2 # 5
FX_P_CH_ZOMBIE_WAKEUP # 6
FX_P_CH_BOULDER_ROLL_AB # 7
FX_P_CH_BOULDER_ROLL_LOOP_AB # 8
FX_P_CH_BOULDER_HIT_AB # 9
FX_P_CH_BOULDER_SMASH_AB # 10
FX_P_CH_BOULDER_SMALL # 11
FX_P_CH_THUNDER # 12
FX_P_CH_THUNDER2 # 13
FX_P_CH_WIND_LOOP # 14
FX_P_CH_DOOR_OPEN # 15
FX_P_CH_GARG_WAKE01 # 16
FX_P_CH_GARG_WAKE02 # 17
FX_P_CH_WOOD_SMASH # 18
FX_P_CH_DRIP1 # 19
FX_P_CH_DRIP2 # 20
FX_P_CH_DRIP3 # 21
FX_P_CH_RUMBLE_LOOP # 22
FX_P_CH_WIND2 # 23
FX_P_CH_EARTH_FALL # 24
FX_P_CH_WITCH_CACKLE # 25
FX_P_CH_PORTCULLIS # 26
FX_P_CH_STONERUMBLE # 27
FX_P_CH_ZOMBIE_HIT # 28
FX_P_CH_LAVA_POOL_LOOP # 29
FX_P_CH_MUD_SQUELCH # 30

[DC_SND]
FX_P_DC_GATE_OPEN # 0
FX_P_DC_DEMONSMASH_1OCT # 1
FX_P_DC_DEMON_SCREECH2 # 2
FX_P_DC_DEMON_THROW # 3
FX_P_DC_GLASS1_1OCT # 4
FX_P_DC_GLASS2_1OCT # 5
FX_P_DC_PORTCULLIS # 6
FX_P_DC_DEMONJUMP # 7
FX_P_DC_IMP2 # 8
FX_P_DC_IMP_ATTACK3 # 9
FX_P_DC_LIDLAUNCH # 10
FX_P_DC_GDEMON_LAND # 11
FX_P_DC_MORGANLAUGHA # 12
FX_P_DC_STONERUMBLE # 13
FX_P_DC_ORGAN01A # 14
FX_P_DC_ORGAN02A # 15
FX_P_DC_ORGAN03A # 16
FX_P_DC_ORGAN04A # 17
FX_P_DC_ORGAN05A # 18
FX_P_DC_DEMONHRTBT # 19
FX_P_DC_GLASS_SHOWER_LOOP # 20
FX_P_DC_EXPLOSION2 # 21
FX_P_DC_AMB2 # 22
FX_P_DC_AMB3_1OCT # 23
FX_P_DC_AMB7 # 24
FX_P_DC_DOOR_OPEN # 25
FX_P_DC_FLOOR_FALL1 # 26
FX_P_DC_CRYSTAL_APPEAR03 # 27
FX_P_DC_DEMON_SHUFFLE_1OCT # 28
FX_P_DC_RUMBLE_LOOP # 29
FX_P_DC_ELECTRICITY_LOOP # 30
FX_P_DC_DEMON_SCREECH # 31
FX_P_DC_GDEMON_HIT1 # 32

[SF_SND]
FX_P_SF_BATS # 0
FX_P_SF_CRICKET_AMB_LOOP # 1
FX_P_SF_CROW_SQUARK # 2
FX_P_SF_EVIL_LAUGH2 # 3
FX_P_SF_FARMER1A # 4
FX_P_SF_FARMER_DIG # 5
FX_P_SF_LEVER # 6
FX_P_SF_MECH_TURN_1A # 7
FX_P_SF_MECH_TURN2A # 8
UNKNOWN_SOUND_NAME # 9
FX_P_SF_SNAKE # 10
FX_P_SF_STONERUMBLE_LOOP # 11
FX_P_SF_IRON_VANISH # 12
FX_P_SF_WINDMILL_BLADE # 13
FX_P_SF_WING_BEAT # 14
FX_P_SF_DOOR_OPEN # 15
FX_P_SF_CORN_KILLER_LAUGH # 16
UNKNOWN_SOUND_NAME # 17
FX_P_SF_CORN_DIE # 18
FX_P_SF_CORN_HIT # 19
FX_P_SF_CORN_KILLER_RUSTLE_LOOP # 20
UNKNOWN_SOUND_NAME # 21
UNKNOWN_SOUND_NAME # 22
FX_P_SF_IRON_HEAD_BANG # 23
FX_P_SF_IRON_MOVE_MOTOR # 24
UNKNOWN_SOUND_NAME # 25
FX_P_SF_SCARECROW_SPIN_LOOP # 26
FX_P_SF_BLADE_VIBRATE # 27
FX_P_SF_MACHINE_SPIN_LOOP # 28
FX_P_SF_HARVESTER_1B_LOOP # 29
UNKNOWN_SOUND_NAME # 30
FX_P_SF_THUNDER # 31
FX_P_SF_FIREBALL_IMPACT # 32
FX_P_SF_WIND2 # 33
FX_P_SF_HARVESTER_LOWER # 34
FX_P_SF_MOLTEN_EXPLODE # 35
FX_P_SF_IRON_ELEC1 # 36
FX_P_SF_IRON_ELEC2 # 37
FX_P_SF_IRON_ELEC3 # 38
FX_P_SF_IRON_POWER_UP # 39

[CR_SND]
FX_P_CR_GATE_OPEN # 0
FX_P_CR_WATER_SPLASH2 # 1
FX_P_CR_WATER_LOOP # 2
FX_P_CR_EARTH_FALL # 3
FX_P_CR_WIND_LOOP # 4
FX_P_CR_WATER_DRIP1_LOOP # 5

[AC_SND]
FX_P_AC_ACID_SQUIRT # 0
FX_P_AC_BATS # 1
FX_P_AC_BOULDERBIG # 2
FX_P_AC_BOULDERSMALL # 3
FX_P_AC_DRIP1 # 4
FX_P_AC_DRIP2 # 5
FX_P_AC_DRIP3 # 6
FX_P_AC_HEARTBEAT # 7
FX_P_AC_LARVASPLAT # 8
FX_P_AC_LARVATHUD # 9
FX_P_AC_QUEEN_HISS # 10
FX_P_AC_SCREECH # 11
FX_P_AC_BOULDER_ROLL_LOOP_AB # 12
FX_P_AC_BOULDER_SMASH_AB # 13
FX_P_AC_FIREBALL_11 # 14
FX_P_AC_BOULDER_HIT_AB # 15
FX_P_AC_CAULDRON_LOOP # 16
FX_P_AC_FAIRY_CALL # 17
FX_P_AC_ANT_DEATH # 18
FX_P_AC_WITCH_CACKLE # 19
FX_P_AC_WITCH_SHAZAM # 20
FX_P_AC_WITCH_ZAP # 21
FX_P_AC_QUEEN_ANT_ATTACK # 22
FX_P_AC_QUEEN_ANT_DEATH # 23
FX_P_AC_FAIRY_RESCUE1 # 24
UNKNOWN_SOUND # 25
FX_P_AC_BUZZING # 26
FX_P_AC_FAIRY_WING1 # 27
FX_P_AC_ANT_ATTACK # 28
FX_P_AC_WITCH_STUR # 29
FX_P_AC_ANT_AMB2 # 30
FX_P_AC_ANT_AMB3 # 31


[CC_SND]
FX_P_CC_BAT_SQUEAK # 0
FX_P_CC_BULL_ROAR1 # 1
FX_P_CC_BULL_ROAR2 # 2
FX_P_CC_DRAGON_DEATH # 3
FX_P_CC_GLASS_SMASH # 4
FX_P_CC_IMP_ATTACK1 # 5
FX_P_CC_IMP_ATTACK2 # 6
FX_P_CC_IMP_ATTACK3 # 7
FX_P_CC_IMP1 # 8
FX_P_CC_IMP2 # 9
FX_P_CC_IMP3 # 10
FX_P_CC_WATER_SPLASH2 # 11
FX_P_CC_WDEMON_DEATH # 12
FX_P_CC_WDEMON_FLAP1 # 13
FX_P_CC_WDEMON_FLAP2 # 14
FX_P_CC_WDEMON_INJURE # 15
FX_P_CC_GLASS1_1OCT # 16
FX_P_CC_GLASS2_1OCT # 17
FX_P_CC_BOULDER_SMASH # 18
FX_P_CC_DRAGON_CRY # 19
FX_P_CC_DRAGON_FIRE_LOOP # 20
FX_P_CC_DRAGON_FOOTSTEPS_LOOP # 21
FX_P_CC_DRAGON_HEAD_HIT # 22
FX_P_CC_EXTINGUISH # 23
FX_P_CC_FLOOR_FALL1 # 24
FX_P_CC_FLOOR_FALL2 # 25
FX_P_CC_RHINOT_HAMMER # 26
FX_P_CC_RHINOT_HOOF1 # 27
FX_P_CC_RHINOT_HOOF2 # 28
FX_P_CC_RHINOT_SNORT # 29
FX_P_CC_BOULDER_SMALL # 30
FX_P_CC_GATE_OPEN # 31
FX_P_CC_WATER_FALL # 32
FX_P_CC_HEAD_BONK_TWEAT_LOOP # 33
FX_P_CC_LARGE_LIFT_LOOP # 34
FX_P_CC_AMB4_1OCT # 35
FX_P_CC_MUD_SQUELCH # 36
FX_P_CC_DRIP1 # 37
FX_P_CC_DRIP2 # 38
FX_P_CC_DRIP3 # 39
FX_P_CC_MUDPOP # 40
FX_P_CC_DRAGON2 # 41
FX_P_CC_FIREBALL # 42

[PG_SND]
FX_P_PG_BOUNCE # 0
FX_P_PG_EXPLODE # 1
FX_P_PG_MAGIC_MUSHROOM # 2
FX_P_PG_PGUARD_DEATH # 3
FX_P_PG_PGUARD_HISS # 4
FX_P_PG_PGUARD_HIT # 5
FX_P_PG_PGUARD_SCREAM # 6
FX_P_PG_PGUARD_SPURT # 7
FX_P_PG_PPLANT_SPURT # 8
FX_P_PG_AMB4 # 9
FX_P_PG_PPLANET_RISE # 10
FX_P_PG_DOOR_OPEN # 11
FX_P_PG_TENTACLE_MOVE1 # 12
FX_P_PG_TENTACLE_MOVE2 # 13
FX_P_PG_TENTACLE_RISE # 14
FX_P_PG_PUMPKIN_SLURP # 15
FX_P_PG_PUMPKIN_WALK # 16
FX_P_PG_BOULDER_HIT_AB # 17
FX_P_PG_BOULDER_ROLL_LOOP_AB # 18
FX_P_PG_BOULDER_SMASH_AB # 19
FX_P_PG_BOULDER_SMALL # 20
FX_P_PG_MECH_TURN # 21
FX_P_PG_THUNDER # 22
FX_P_PG_THUNDER2 # 23
FX_P_PG_WIND_LOOP # 24
FX_P_PG_DRIP1 # 25
FX_P_PG_DRIP3 # 26
FX_P_PG_DAN_DROWN2 # 27
FX_P_PG_MUD_SQUELCH # 28

[PS_SND]
FX_P_PS_RAT_SQUEAK # 0
FX_P_PS_WATER_SPLASH2 # 1
FX_P_PS_WITCH_CACKLE # 2
FX_P_PS_WITCH_SHAZAM # 3
FX_P_PS_WITCH_ZAP # 4
FX_P_PS_DRIP1 # 5
FX_P_PS_DRIP2 # 6
FX_P_PS_DRIP3 # 7
FX_P_PS_THUNDER # 8
FX_P_PS_THUNDER2 # 9
FX_P_PS_DOOR_OPEN # 10
FX_P_PS_PGUARD_DEATH # 11
FX_P_PS_PGUARD_HIT # 12
FX_P_PS_PGUARD_SCREAM # 13
FX_P_PS_TENTACLE_RISE # 14
FX_P_PS_PGUARD_HISS # 15
FX_P_PS_EXPLODE # 16
FX_P_PS_COFFIN_RISE # 17
FX_P_PS_PPLANT_SPURT # 18
FX_P_PS_PUMPKIN_SLURP # 19
FX_P_PS_PUMPKIN_WALK # 20
FX_P_PS_AMB2 # 21
FX_P_PS_BOUNCE # 22
FX_P_PS_AMB4 # 23
FX_P_PS_FISH_SLAP # 24
FX_P_PS_PGUARD_DEATH2 # 25
FX_P_PS_DAN_DROWN2 # 26
UNKNOWN_SOUND_NAME # 27
FX_P_PS_CAULDRON_LOOP # 28
FX_P_PS_POD_BURST1 # 29
FX_P_PS_POD_BURST2 # 30
FX_P_PS_MUDPOP # 31
FX_P_PS_FISH_SLAP1 # 32
FX_P_PS_FISH_SLAP2 # 33

[SV_SND]
FX_P_SV_BELLOWS_OUT # 0
FX_P_SV_BLUNDERBUSS # 1
FX_P_SV_DRIP1 # 2
FX_P_SV_DRIP2 # 3
FX_P_SV_DRIP3 # 4
FX_P_SV_FOUNTAIN_LOOP # 5
FX_P_SV_HEAD_BONK_TWEAT2_LOOP # 6
FX_P_SV_MONKCHANT2 # 7
FX_P_SV_MRMAD_BREATH2 # 8
FX_P_SV_MRMAD_DIE2 # 9
FX_P_SV_MRMAD_HURT # 10
FX_P_SV_MRMAD_LAUGH2 # 11
FX_P_SV_MSMAD_DIE2 # 12
FX_P_SV_MSMAD_HURT1 # 13
FX_P_SV_MSMAD_OPERA2 # 14
FX_P_SV_MSMAD_PAN_BASH # 15
FX_P_SV_NELLIE_GIGGLE2 # 16
FX_P_SV_NELLIE_HUM2 # 17
FX_P_SV_NELLIE_HURT # 18
FX_P_SV_NELLIE_SOB2A # 19
FX_P_SV_SAFE_DOOR # 20
FX_P_SV_SOLDIER_ATTACK # 21
FX_P_SV_SOLDIER_DIE # 22
FX_P_SV_SOLDIER_HURT # 23
FX_P_SV_SOLDIER_STOP # 24
FX_P_SV_SOLDIERS_FOOTSTEP # 25
FX_P_SV_TAVERN1A # 26
FX_P_SV_TAVERN2A # 27
FX_P_SV_TOWN_HALL1A # 28
FX_P_SV_TOWN_HALL2A # 29
FX_P_SV_WATER_SPLASH2 # 30
FX_P_SV_WOOD_SMASH # 31
FX_P_SV_CHURCH_BELL # 32
FX_P_SV_WATER_LAP_LOOP # 33
FX_P_SV_DOOR_OPEN # 34
FX_P_SV_LEVER # 35
FX_P_SV_RAT_SQUEAK # 36
FX_P_SV_GATE_OPEN # 37
FX_P_SV_PORTCULLIS # 38
FX_P_SV_TORCH # 39
FX_P_SV_DAN_DROWN2 # 40
FX_P_SV_BOUNCE # 41
FX_P_SV_NELLIE_BOING # 42
FX_P_SV_WOODEN_PILLAR # 43
FX_P_SV_PRESSURE_PAD2 # 44
FX_P_SV_TAVERN3_LOOP # 45

[PD_SND]
FX_P_PD_BRIDGE_BLOW # 0
FX_P_PD_CLANK_HIT1 # 1
FX_P_PD_CLANK_HIT2 # 2
FX_P_PD_FLAG1 # 3
FX_P_PD_FLAG2 # 4
FX_P_PD_FLAG3 # 5
FX_P_PD_MUD_ESCAPE_SLURP # 6
FX_P_PD_MUD_FALL_SQUELCH # 7
FX_P_PD_MUD_FOOTSTEP # 8
FX_P_PD_MUD_SPLAT # 9
FX_P_PD_MUDPOP # 10
FX_P_PD_PUNT_DOWN # 11
FX_P_PD_PUNT_UP # 12
FX_P_PD_RUSTYSQUEAK1 # 13
FX_P_PD_RUSTYSQUEAK2 # 14
FX_P_PD_SQUEAK_LONG # 15
FX_P_PD_VINE_WHIP # 16
FX_P_PD_WATER_HULL_HIT1 # 17
FX_P_PD_WATER_HULL_HIT2 # 18
FX_P_PD_WOOD_MECH_TURN # 19
FX_P_PD_CHARIOT_CRASH # 20
FX_P_PD_RAIN_LOOP # 21
FX_P_PD_DOOR_CREAK # 22
FX_P_PD_DOOR_SLAM # 23
FX_P_PD_GATE_OPEN # 24
FX_P_PD_WATER_LAP_LOOP # 25
FX_P_PD_CHARIOT_START # 26
FX_P_PD_DAN_DROWN # 27
FX_P_PD_THUNDER # 28
FX_P_PD_THUNDER2 # 29
FX_P_PD_BOATMAN_MOVE1 # 30
FX_P_PD_BOATMAN_MOVE2 # 31
FX_P_PD_WATER_HULL_HIT1A # 32
FX_P_PD_WATER_HULL_HIT2A # 33
FX_P_PD_FIREBALL_11 # 34

[AG_SND]
FX_P_AG_CHESS1A # 0
FX_P_AG_CHESS2A # 1
FX_P_AG_CHESS3A # 2
FX_P_AG_CHESS4A # 3
FX_P_AG_CHESS5A # 4
FX_P_AG_CHESS6A # 5
FX_P_AG_CHESS7A # 6
FX_P_AG_CHESS8A # 7
FX_P_AG_CHESS_OI # 8
FX_P_AG_CHESS_OUCH # 9
FX_P_AG_HEDGERUSTLE # 10
FX_P_AG_CLOWN_LAUGH # 11
FX_P_AG_GATE_CLOSE # 12
FX_P_AG_GATE_OPEN # 13
FX_P_AG_BELL # 14
FX_P_AG_STAR_SPIN_LOOP # 15
FX_P_AG_STAR_EXPLODE # 16
FX_P_AG_RAT_SQUEAK # 17
FX_P_AG_PORTCULLIS # 18
FX_P_AG_STONE_TURN # 19
FX_P_AG_DRAGON # 20
FX_P_AG_ELEPHANT # 21
FX_P_AG_OCTOPUS # 22
FX_P_AG_BIRD01 # 23
FX_P_AG_BIRD03 # 24
FX_P_AG_BIRD04 # 25
FX_P_AG_MOUSE_SCARED # 26
FX_P_AG_STONE_CAT_HISS1 # 27
FX_P_AG_BOULDER_HIT_AB # 28
FX_P_AG_CHESS_QUEEN1A # 29
FX_P_AG_CHESS_QUEEN2A # 30
FX_P_AG_CHESS_QUEEN3A # 31
FX_P_AG_CHESS_QUEEN_HIT # 32
FX_P_AG_CHESS_PIECE_LOCATE # 33
FX_P_AG_FIREBALL # 34
FX_P_AG_MONK_ATTACK # 35
FX_P_AG_MONK_DIE # 36
FX_P_AG_MONK_HURT # 37
FX_P_AG_BOULDER_SMALL # 38

[IA_SND]
FX_P_IA_BAT_SQUEAK # 0
UNKNOWN_SOUND_NAME # 1
FX_P_IA_CHAINS1 # 2
FX_P_IA_CHAINS2 # 3
FX_P_IA_CHAINS3 # 4
FX_P_IA_KUNGFU1 # 5
FX_P_IA_KUNGFU2 # 6
FX_P_IA_LAUGH1 # 7
FX_P_IA_LAUGH5 # 8
FX_P_IA_WHOOP1 # 9
FX_P_IA_WHOOP2 # 10
FX_P_IA_LAVA_LOOP # 11
FX_P_IA_WIND2 # 12
FX_P_IA_ZOMBIE_CONFUSED # 13
FX_P_IA_ZOMBIE_FALL # 14
FX_P_IA_ZOMBIE_GROAN1 # 15
FX_P_IA_ZOMBIE_GROAN2 # 16
FX_P_IA_ZOMBIE_ROAR1 # 17
FX_P_IA_ZOMBIE_ROAR2 # 18
FX_P_IA_ZOMBIE_WAKEUP # 19
FX_P_IA_GATE_OPEN # 20
FX_P_IA_PORTCULLIS # 21
FX_P_IA_DRIP1 # 22
FX_P_IA_DRIP2 # 23
FX_P_IA_DRIP3 # 24
FX_P_IA_MAYOR_BOW # 25

[EE_SND]
FX_P_EE_BIRD01 # 0
FX_P_EE_BIRD02 # 1
FX_P_EE_FIREBALL_11 # 2
FX_P_EE_BIRD04A # 3
FX_P_EE_BIRD05 # 4
FX_P_EE_BIRD06 # 5
FX_P_EE_BIRD07 # 6
FX_P_EE_EMPTY2 # 7
FX_P_EE_BIRD09 # 8
FX_P_EE_BIRD10 # 9
FX_P_EE_EMPTY3 # 10
FX_P_EE_CABLE_CAR # 11
FX_P_EE_EGG_SMASH # 12
FX_P_EE_GBIRD_CALL # 13
FX_P_EE_GBIRD_WING # 14
UNKNOWN_SOUND_EMPTY # 15
FX_P_EE_MOLTEN_EXPLODE # 16
FX_P_EE_MOLTEN_WHOOSH # 17
FX_P_EE_POD_SPITTA # 18
FX_P_EE_PRESSURE_PAD2 # 19
FX_P_EE_TOAD_CROAK # 20
FX_P_EE_WDEMON_ATTACK2 # 21
FX_P_EE_WDEMON_DEATH2 # 22
FX_P_EE_WDEMON_INJURE2 # 23
FX_P_EE_WDEMON_RELEASE # 24
FX_P_EE_WSTAT_EYES_LOOP # 25
FX_P_EE_WITCH_CACKLE # 26
FX_P_EE_WITCH_SHAZAM # 27
FX_P_EE_WITCH_ZAP # 28
FX_P_EE_DOOR_OPEN # 29
FX_P_EE_PORTCULLIS # 30
FX_P_EE_WATER_SPLASH2 # 31
FX_P_EE_CAULDRON_LOOP # 32
FX_P_EE_STONERUMBLE_LOOP # 33
FX_P_EE_GOBBA_SHRINK2 # 34
FX_P_EE_CDEMON_ATTACK # 35
FX_P_EE_CDEMON_DIE2 # 36
FX_P_EE_CDEMON_HURT2 # 37
FX_P_EE_WIND_LOOP # 38
FX_P_EE_ACID_SQUIRT1 # 39
FX_P_EE_BLAZE2 # 40
FX_P_EE_WDEMON_FLAP1 # 41
FX_P_EE_WDEMON_FLAP2 # 42
FX_P_EE_DAN_DROWN2 # 43
FX_P_EE_WITCH_STIR2 # 44
FX_P_EE_FIREBALL # 46

[GG_SND]
FX_P_GG_GALLOWS_DESTROY # 0
FX_P_GG_GALLOWS_SWING # 1
FX_P_GG_GALLOWS_WALK # 2
FX_P_GG_SNAKE_SERPENT # 3
FX_P_GG_PRESSURE_PAD2 # 4
FX_P_GG_SKEWER_BREAK # 5
FX_P_GG_MUM_ATTACK # 6
FX_P_GG_MUM_DIE # 7
FX_P_GG_MUM_HURT # 8
FX_P_GG_SZOMBIE_ATTACK # 9
FX_P_GG_SZOMBIE_DIE # 10
FX_P_GG_SZOMBIE_HURT # 11
FX_P_GG_SZOMBIE_STRAIN # 12
FX_P_GG_DRIP1 # 13
FX_P_GG_DRIP2 # 14
FX_P_GG_DRIP3 # 15
FX_P_GG_WIND_LOOP # 16
FX_P_GG_PORTCULLIS # 17
FX_P_GG_MUMMY_ATTACK2 # 18
FX_P_GG_MUMMY_DIE2 # 19
FX_P_GG_MUMMY_HURT2 # 20
FX_P_GG_MUMMY_HURT3 # 21
FX_P_GG_SZOMBIE_ATTACK2 # 22
FX_P_GG_SZOMBIE_ATTACK3 # 23
FX_P_GG_SZOMBIE_ATTACK4 # 24
FX_P_GG_SZOMBIE_DIE2 # 25
FX_P_GG_SZOMBIE_DIE3 # 26
FX_P_GG_SZOMBIE_DIE4 # 27
FX_P_GG_SZOMBIE_HURT2 # 28

[HR_SND]
FX_P_HR_CHICKEN_CLUCK # 0
FX_P_HR_CHICKEN_FRIGHT # 1
FX_P_HR_CDEMON_ATTACK # 2
FX_P_HR_CDEMON_DIE # 3
FX_P_HR_CDEMON_HURT # 4
FX_P_HR_PORTCULLIS # 5
FX_P_HR_BLAZE # 6
FX_P_HR_PRESSURE_PAD # 7
FX_P_HR_WDEMON_FLAP1 # 8
FX_P_HR_WDEMON_FLAP2 # 9
UNKNOWN_SOUND_NAME # 10
UNKNOWN_SOUND_NAME # 11
UNKNOWN_SOUND_NAME # 12
UNKNOWN_SOUND_NAME # 13
FX_P_HR_CATAPULT # 14
FX_P_HR_CYCLOPS_FIRE # 15
FX_P_HR_LEVER # 16
FX_P_HR_OIL_POUR_LOOP # 17
FX_P_HR_TICK # 18
FX_P_HR_TIMER_ACTIVE_AMB_LOOP # 19
FX_P_HR_TOCK # 20
FX_P_HR_TORTURE_RUN_SCREAM # 21
FX_P_HR_TORTURE_SCREAM1 # 22
FX_P_HR_TORTURE_SCREAM2 # 23
FX_P_HR_KINGS_BEARD # 24
UNKNOWN_SOUND_NAME # 25
FX_P_HR_BOULDER_ROLL_AB # 26
FX_P_HR_BOULDER_SMASH_AB # 27
FX_P_HR_DOOR_OPEN # 28
FX_P_HR_GATE_OPEN # 29
FX_P_HR_WIND_LOOP # 30
FX_P_HR_BOULDER_SMALL # 31
FX_P_HR_MUD_SQUELCH # 32
FX_P_HR_GHOST # 33
FX_P_HR_EXTINGUISH # 34
FX_P_HR_WATER_SPLASH2 # 35

[HH_SND]
FX_P_HH_PORTCULLIS # 0
FX_P_HH_APPEAR # 1
FX_P_HH_DISAPPEAR # 2
FX_P_HH_WHIRLING2_LOOP # 3

[GS_SND]
FX_P_GS_BARREL_EXPLODE # 0
FX_P_GS_BARREL_ROLL2 # 1
FX_P_GS_BONE_CLATTER1 # 2
FX_P_GS_CLOCK # 3
FX_P_GS_HULL_CREAK1 # 4
FX_P_GS_HULL_CREAK2 # 5
FX_P_GS_HULL_CREAK3 # 6
FX_P_GS_LIFT_LOOP # 7
FX_P_GS_PIRATE_DIE # 8
FX_P_GS_PIRATE_FOOT_DRAG # 9
FX_P_GS_PIRATE_HURT # 10
FX_P_GS_PIRATE_SPOT_DAN # 11
FX_P_GS_ROPE_CREAK1 # 12
FX_P_GS_ROPE_CREAK2 # 13
FX_P_GS_ROTATE_SPOON_LOOP # 14
FX_P_GS_SHIP_BELL # 15
FX_P_GS_SHIP_LIST # 16
FX_P_GS_WOOD_MECH3_LOOP # 17
FX_P_GS_FOOT_WOOD_WALK # 18
FX_P_GS_PIRATE_ATTACK # 19
FX_P_GS_DOOR_OPEN # 20
FX_P_GS_WIND_LOOP # 21
FX_P_GS_FLAG1 # 22
FX_P_GS_FLAG2 # 23
FX_P_GS_FLAG3 # 24
FX_P_GS_VINE_WHIP # 25
FX_P_GS_PIRATE_LAUGH # 26
FX_P_GS_ROPE_BOUNCE # 27


[EH_SND]
FX_P_EH_IMP_ATTACK1 # 0
FX_P_EH_IMP_ATTACK2 # 1
FX_P_EH_IMP_ATTACK3 # 2
FX_P_EH_IMP1 # 3
FX_P_EH_IMP2 # 4
FX_P_EH_IMP3 # 5
FX_P_EH_AMB1_1OCT_LOOP # 6
FX_P_EH_WATERFALL_LOOP # 7
FX_P_EH_AMB8_1OCT_LOOP # 8
FX_P_EH_WEAPON_WATER_CUT # 9


[TD_SND]
FX_P_TD_3BLADE # 0
FX_P_TD_BOUNCE # 1
FX_P_TD_CHIME # 2
FX_P_TD_CLOCK1 # 3
UNKNOWN_SOUND_NAME # 4
FX_P_TD_CLOCK3 # 5
FX_P_TD_CLOCK4 # 6
UNKNOWN_SOUND_NAME # 7
UNKNOWN_SOUND_NAME # 8
FX_P_TD_FLYING_CLOCK_LOOP # 9
FX_P_TD_SAND_START # 10
FX_P_TD_SAND # 11
FX_P_TD_TELEPORT # 12
FX_P_TD_TRAIN_LOOP # 13
FX_P_TD_TRAIN_WHISTLE # 14
UNKNOWN_SOUND_NAME # 15
FX_P_TD_SOLDIER_DIE # 16
FX_P_TD_SOLDIER_HURT # 17
FX_P_TD_SOLDIER_STOP # 18
FX_P_TD_SOLDIERS_FOOTSTEP # 19
FX_P_TD_LEVER # 20
FX_P_TD_IRON_GATE # 21
FX_P_TD_PORTCULLIS # 22
FX_P_TD_AMB4A_1OCT_LOOP # 23
FX_P_TD_BLUNDERBUSS # 24
FX_P_TD_WSTAT_EYES_LOOP # 25
UNKNOWN_SOUND_NAME # 26
FX_P_TD_CLOCK_HANDS1_LOOP # 27
FX_P_TD_CLOCK_HANDS2_LOOP # 28
FX_P_TD_CLOCK_HANDS3_LOOP # 29
UNKNOWN_SOUND_NAME # 30
FX_P_TD_PLATFORM_CLUNK # 31
FX_P_TD_PLATFORM_TURN2 # 32
FX_P_TD_BLAZE # 33
FX_P_TD_STONERUMBLE_LOOP # 34
FX_P_TD_CLOCKWORK_KEY # 35
FX_P_TD_TRAIN_SKID # 36
FX_P_TD_EYE_BEAM2_LOOP # 37
UNKNOWN_SOUND_NAME # 38
UNKNOWN_SOUND_NAME # 39
FX_P_TD_EYE_POP # 40
FX_P_TD_GLASS1_1OCT # 41
FX_P_TD_GLASS2_1OCT # 42
FX_P_TD_PGUARD_HIT # 43


[LA_SND]
FX_P_LA_CRYSTAL_MACHINE # 0
FX_P_LA_DRAG_ELEPH1A # 1
FX_P_LA_FOOT_WOOD_RUN # 2
FX_P_LA_FOOT_WOOD_WALK # 3
FX_P_LA_TOAD_DEMON_ATTACK # 4
FX_P_LA_TOAD_DEMON_DIE1A # 5
FX_P_LA_TOAD_DEMON_HURT # 6
FX_P_LA_WATER_DRIP1_LOOP # 7
FX_P_LA_WATER_DRIP2_LOOP # 8
FX_P_LA_WATER_SPLASH2 # 9
FX_P_LA_WATER_SQUIRT # 10
FX_P_LA_FIREBALL_11 # 11
FX_P_LA_WHIRLPOOL_STOP # 12
FX_P_LA_WHIRLPOOL_LOOP # 13
FX_P_LA_LEVER # 14
FX_P_LA_WATER_LAP_LOOP # 15
FX_P_LA_AMB4 # 16
FX_P_LA_DRIP1 # 17
FX_P_LA_DRIP2 # 18
FX_P_LA_DRIP3 # 19
FX_P_LA_FISH_DIE # 20
FX_P_LA_TOAD_DEMON_ATTACK2A # 21
FX_P_LA_TOAD_DEMON_WALK # 22
FX_P_LA_WATER_SQUIRT1 # 23
FX_P_LA_WATER_SQUIRT2 # 24
FX_P_LA_WATER # 25
FX_P_LA_WATER2 # 26
FX_P_LA_WATER_LAP2A # 27
FX_P_LA_PLATFORM_TURN # 28
FX_P_LA_PUNT_UP # 29
FX_P_LA_PUNT_DOWN # 30
FX_P_LA_WATER_HULL_HIT1 # 31
FX_P_LA_DAN_DROWN2 # 32
FX_P_LA_PORTCULLIS # 33

[ZL_SND]
FX_P_ZL_ESK_CHARGE1 # 0
FX_P_ZL_HORSE_HOOVES # 1
FX_P_ZL_HORSE_SCREAM # 2
FX_P_ZL_HORSE_SNORT # 3
FX_P_ZL_METAL_DOOR_CLOSE # 4
FX_P_ZL_ESK_CHARGE2 # 5
FX_P_ZL_ESK_CHARGE3 # 6
FX_P_ZL_RUMBLE # 7
FX_P_ZL_ESK_CHARGE4 # 8
FX_P_ZL_TRAIN_SKID # 9
FX_P_ZL_TRAIN_LOOP # 10
FX_P_ZL_TRAIN_WHISTLE # 11
FX_P_ZL_ZAROK_FIRE # 12
FX_P_ZL_ESK_GRUNT1 # 13
FX_P_ZL_ZAROK_FOOTSTEP2 # 14
FX_P_ZL_PORTCULLIS # 15
FX_P_ZL_SKELETON_FOOTSTEP1 # 16
FX_P_ZL_SKELETON_FOOTSTEP2 # 17
FX_P_ZL_ROCK_BOUNCE # 18
FX_P_ZL_DISINTEGRATE # 19
FX_P_ZL_ESK_GRUNT2 # 20
FX_P_ZL_ROCK_BOUNCE2 # 21
FX_P_ZL_ZAROK_ATTACK # 22
FX_P_ZL_ZAROK_DIE # 23
FX_P_ZL_ZAROK_HURT # 24
FX_P_ZL_HORSE_NEIGH # 25
FX_P_ZL_KNIGHT_VANISH11 # 26
FX_P_ZL_ZAROK_MAGIC_ZAP_LOOP # 27
FX_P_ZL_WIND_LOOP # 28
FX_P_ZL_ESK_GRUNT3 # 29
FX_P_ZL_ESK_GRUNT4 # 30
FX_P_ZL_ESK_GRUNT5 # 31
FX_P_ZL_SKELETON_FOOT # 32
FX_P_ZL_KARDOK_ATTACK # 33
FX_P_ZL_KARDOK_BREATH # 34
FX_P_ZL_KARDOK_HURT1 # 35
FX_P_ZL_KARDOK_HURT2 # 36
FX_P_ZL_KARDOK_HURT3 # 37
FX_P_ZL_BATTLE_AMB_LOOP # 38