# This file uses the official sound names.

[TL_SND]
FX_TL_LIGHTNING_ZAP
FX_TL_RAIN_LOOP
FX_TL_THUNDER
FX_TL_THUNDER2
FX_TL_WATER
FX_TL_BAT_FLAP
FX_TL_BAT_SQUEAK
FX_TL_WIND
FX_TL_OWL
FX_TL_AMBIENT_LAUGH1
FX_TL_AMBIENT_LAUGH2
FX_TL_BONE_CREAK1
FX_TL_BONE_CREAK2
FX_TL_SELECT_LAUGH
FX_TL_SKELETON_LAUGH1
FX_TL_SKELETON_LAUGH2
FX_TL_SKELETON_LAUGH3
FX_TL_SKELETON_LAUGH4
FX_TL_SPIDER_WALK
FX_TL_MEDIEVIL_REVEAL

[GY1_SND]
FX_GY1_CHURCH_BELL
FX_GY1_COFFIN_OPEN
FX_GY1_COFFIN_RISE
FX_GY1_STONERUMBLE
FX_GY1_LOWTHUNDER1
FX_GY1_LOWTHUNDER2
FX_GY1_WATER_SPLASH
FX_GY1_WIND_LOOP
FX_GY1_WOLF_HOWL
FX_GY1_ZOMBIE_CONFUSED
FX_GY1_ZOMBIE_FALL
FX_GY1_ZOMBIE_DIE1
FX_GY1_ZOMBIE_GROAN4
FX_GY1_ZOMBIE_ROAR1
FX_GY1_ZOMBIE_ROAR5
FX_GY1_ZOMBIE_WAKEUP
FX_GY1_ZOMBIE_GROAN1
FX_GY1_ZOMBIE_WALK
FX_GY1_GATE_OPEN
FX_GY1_GATE_CLOSE
FX_GY1_DOOR_OPEN
FX_GY1_DAN_DROWN
FX_GY1_HAND_SCUTTLE
FX_GY1_ZOMBIE_HIT

[GY2_SND]
FX_GY2_COFFIN_OPEN
FX_GY2_COFFIN_RISE
FX_GY2_LOWTHUNDER1
FX_GY2_LOWTHUNDER2
FX_GY2_WATER_LAP_LOOP
FX_GY2_WATER_SPLASH
FX_GY2_WOLF_GROWL
FX_GY2_WOLF_HOWL
FX_GY2_WOLF_SNARL
FX_GY2_WOLF_WHIMPER
FX_GY2_ZOMBIE_WAKEUP3
FX_GY2_ZOMBIE_ROAR1
FX_GY2_ZOMBIE_ROAR5
FX_GY2_ZOMBIE_CONFUSED4
FX_GY2_ZOMBIE_GROAN2
FX_GY2_ZOMBIE_GROAN4
FX_GY2_ZOMBIE_FALL
FX_GY2_ZOMBIE_DIE1
FX_GY2_ZOMBIE_WALK
FX_GY2_ZOMBIE_HIT
FX_GY2_WIND_LOOP
FX_GY2_WIND_HILL_LOOP
FX_GY2_WOLF_SNORE
FX_GY2_STONERUMBLE_MOVING
FX_GY2_STONERUMBLE_FALLING
FX_GY2_STONE_SPLASH
FX_GY2_DOOR_OPEN
FX_GY2_HAND_SCUTTLE
FX_GY2_DAN_DROWN
FX_GY2_GATE_OPEN
FX_GY2_MUD_SQUELCH
FX_GY2_GATE_CLOSE
FX_GY2_MUD_ESCAPE_SLURP
FX_GY2_MUDPOP
FX_GY2_STONE_WOLF_LEAP
FX_GY2_STONE_WOLF_LAND
FX_GY2_STONE_WOLF_STEP
FX_GY2_STONE_WOLF_ATTACK
FX_GY2_STONE_WOLF_HURT
FX_GY2_STONE_WOLF_HOWL
FX_GY2_STONE_WOLF_MAGIC2
FX_GY2_WOOD_SPLINTER

[CH_SND]
FX_CH_ZOMBIE_ROAR1
FX_CH_ZOMBIE_ROAR2
FX_CH_ZOMBIE_CONFUSED
FX_CH_ZOMBIE_GROAN1
FX_CH_ZOMBIE_GROAN2
FX_CH_ZOMBIE_FALL
FX_CH_BOULDER_ROLL
FX_CH_BOULDER_SMASH
FX_CH_BOULDER_HIT_GROUND
FX_CH_RUBBLE
FX_CH_LOUD_RUBBLE
FX_CH_WIND_LOOP
FX_CH_THUNDER1
FX_CH_THUNDER2
FX_CH_LOWTHUNDER1
FX_CH_LOWTHUNDER2
FX_CH_BOULDER_ROLL_LOOP
FX_CH_DOOR_OPEN
FX_CH_GARG_WAKE01
FX_CH_GARG_WAKE02
FX_CH_WOOD_SMASH
FX_CH_DRIP1
FX_CH_DRIP2
FX_CH_DRIP3
FX_CH_RUMBLE_LOOP
FX_CH_WIND_OUTSIDE
FX_CH_EARTH_FALL
FX_CH_WITCH_CACKLE
FX_CH_PORTCULLIS
FX_CH_MAGIC_FIRE_THROB_LOOP
FX_CH_ZAROKS_FOOT_STEPS
FX_CH_ZAROKS_MAGIC
FX_CH_ZAROKS_WAND_SWIPE
FX_CH_ZAROKS_STAFF_HITTING_GROUND
FX_CH_STONERUMBLE
FX_CH_ZOMBIE_HIT
FX_CH_ZOMBIE_WAKEUP
FX_CH_LAVA_POOL_LOOP
FX_CH_ROCK_FALL_INTO_POOL
FX_CH_MUD_SQUELCH

[DC_SND]
FX_DC_IMP_GRUNT
FX_DC_IMP_SQUEAL
FX_DC_DEMON_THROW
FX_DC_WINDOW_SMASH
FX_DC_DEMON_SMASH
FX_DC_DEMON_SCREAM1
FX_DC_DEMON_SCREAM2
FX_DC_STONE_RUMBLE_LOOP
FX_DC_LID_LAUNCH
FX_DC_MR_ORGAN_LAUGH
FX_DC_MR_ORGAN_FADE_LAUGH
FX_DC_MR_ORGAN_FADE_LAUGH_NO_REVERB
FX_DC_DEMON_SWIPE
FX_DC_GLASS_SMASH
FX_DC_GLASS_SMASH_NO_REVERB
FX_DC_GLASS_HIT
FX_DC_GLASS_HIT_NO_REVERB
FX_DC_ORGAN_01_FULL
FX_DC_ORGAN_02_FULL
FX_DC_ORGAN_03_FULL
FX_DC_ORGAN_04_FULL
FX_DC_ORGAN_05_FULL
FX_DC_ORGAN_01_HALF
FX_DC_ORGAN_02_HALF
FX_DC_ORGAN_03_HALF
FX_DC_ORGAN_04_HALF
FX_DC_ORGAN_05_HALF
FX_DC_DEMON_HEART_BEAT
FX_DC_DEMON_HEART_BEAT_HALF
FX_DC_AMB2
FX_DC_AMB3
FX_DC_AMB3_NO_REVERB
FX_DC_AMB7
FX_DC_DEMON_JUMP
FX_DC_DOOR_OPEN
FX_DC_GATE_OPEN
FX_DC_PORTCULLIS
FX_DC_FIREBLOCK_MOVE
FX_DC_DEMON_LAND
FX_DC_CRYSTAL_APPEAR03
FX_DC_DEMON_SHUFFLE
FX_DC_RUMBLE60_LOOP
FX_DC_RUMBLE48_LOOP
FX_DC_SPIRITS_LEAVING
FX_DC_SPIRITS_HOVERING
FX_DC_DEMON_ELECTRICITY
FX_DC_GLASS_SHOWER_LOOP
FX_DC_EXPLOSION2
FX_DC_DEMON_DEATH
FX_DC_DEMON_POWER_UP
FX_DC_DEMON_HIT_NO_DAMAGE
FX_DC_COFFIN_BREAK

[SF_SND]
FX_SF_BAT
FX_SF_CRICKET_AMB
FX_SF_CROW_SQUAWK
FX_SF_EVIL_LAUGH
FX_SF_FARMER
FX_SF_FARMER_DIG
FX_SF_FARMER_APPEAR
FX_SF_MECH_TURN
FX_SF_MECH_TURN2
FX_SF_SCARECROW_LAND
FX_SF_SNAKE
FX_SF_STONE_RUMBLE_LOOP
FX_SF_WINDMILL_BLADE
FX_SF_WING_BEAT
FX_SF_DOOR_OPEN
FX_SF_CART_MOVE
FX_SF_CORN_DIE
FX_SF_CORN_HIT
FX_SF_CORN_KILLER_FOOT
FX_SF_IRON_FOOT_STEP_FORWARD
FX_SF_IRON_FOOT_STEP_BACKWARD
FX_SF_IRON_HEAD_BANG
FX_SF_IRON_MOVE_MOTOR
FX_SF_IRON_MOVE_CRAZY_MOTOR
FX_SF_IRON_SPIN
FX_SF_IRON_HIT_GROUND
FX_SF_CORN_KILLER_LAUGH
FX_SF_SCARECROW_SPIN
FX_SF_BLADE_VIBRATE
FX_SF_MACHINE_SPIN_LOOP
FX_SF_HARVESTER_LOOP
FX_SF_POLE_HIT_WOOD
FX_SF_STRAW_BLOCK_HIT
FX_SF_THUNDER
FX_SF_THUNDER2
FX_SF_WIND_OUTSIDE
FX_SF_HARVESTER_WALL_BANG
FX_SF_HARVESTER_LOWERING
FX_SF_HARVESTER_HITTING_GROUND
FX_SF_BLOCK_MOVEMENT
FX_SF_WICKERMAN_HURT
FX_SF_FIREBALL
FX_SF_FIREBALL_IMPACT
FX_SF_IRON_MAN_ELEC1
FX_SF_IRON_MAN_ELEC2
FX_SF_IRON_MAN_ELEC3
FX_SF_IRON_POWER_UP
FX_SF_LEVER
FX_SF_IRON_VANISH

[CR_SND]
FX_CR_GATE_OPEN
FX_CR_WATER_SPLASH
FX_CR_WATER_AMB
FX_CR_EARTH_FALL
FX_CR_WIND_LOOP
FX_CR_WATER_DRIP1_LOOP

[AC_SND]
FX_AC_ACID_SQUIRT
FX_AC_BATS
FX_AC_BOULDER_BIG
FX_AC_BOULDER_SMALL
FX_AC_BOULDER_RUBBLE
FX_AC_DRIP1
FX_AC_DRIP2
FX_AC_DRIP3
FX_AC_HEARTBEAT
FX_AC_LARVA_SPLAT
FX_AC_LARVA_THUD
FX_AC_QUEEN_ANT_HISS
FX_AC_QUEEN_ANT_ATTACK
FX_AC_QUEEN_ANT_DEATH
FX_AC_QUEEN_ANT_BREATH
FX_AC_QUEEN_ANT_WOKEN
FX_AC_QUEEN_ANT_SWIPE
FX_AC_QUEEN_ANT_SCREECH
FX_AC_ANT_HISS
FX_AC_ANT_SCREECH
FX_AC_LARVA_SCREECH
FX_AC_BAT_FLAP
FX_AC_BOULDER_ROLL_LOOP
FX_AC_BOULDER_SMASH
FX_AC_AMB_2
FX_AC_BOULDER_HIT_GROUND
FX_AC_FAIRY_HELP
FX_AC_FAIRY_RESCUE1
FX_AC_WITCH_CACKLE
FX_AC_WITCH_ZAP
FX_AC_WITCH_SHAZAM
FX_AC_CAULDRON_LOOP
FX_AC_FIREFLY_BUZZ
FX_AC_FAIRY_WING1
FX_AC_WITCH_STUR
FX_AC_ANT_DEATH
FX_AC_ANT_ATTACK
FX_AC_ANT_CRUNCHY_HIT
FX_AC_ANT_AMB2
FX_AC_ANT_AMB3
FX_AC_FAIRY_LEAVING
FX_AC_FIREBALL_IMPACT


[CC_SND]
FX_CC_BAT_SQUEAK
FX_CC_BULL_ROAR1
FX_CC_BULL_ROAR2
FX_CC_DRAGON_ROAR
FX_CC_GLASS_SMASH
FX_CC_IMP1
FX_CC_IMP2
FX_CC_IMP3
FX_CC_IMP_ATTACK1
FX_CC_IMP_ATTACK2
FX_CC_IMP_ATTACK3
FX_CC_WATER_SPLASH
FX_CC_WDEMON_DEATH
FX_CC_WDEMON_FLAP1
FX_CC_WDEMON_FLAP2
FX_CC_WDEMON_INJURE
FX_CC_GLASS1
FX_CC_GLASS2
FX_CC_GLASS1_DAMAGE
FX_CC_GLASS2_DAMAGE
FX_CC_GLASS3_DAMAGE
FX_CC_GLASS4_DAMAGE
FX_CC_BOULDER_SMASH
FX_CC_DRAGON_CRY
FX_CC_DRAGON_FIRE_LOOP
FX_CC_DRAGON_FOOTSTEPS_LOOP
FX_CC_DRAGON_HEAD_HIT
FX_CC_EXTINGUISH
FX_CC_FLOOR_FALL1
FX_CC_FLOOR_FALL2
FX_CC_RHINOT_HAMMER
FX_CC_RHINOT_HOOF1
FX_CC_RHINOT_HOOF2
FX_CC_RHINOT_SNORT
FX_CC_BOULDER_SMALL
FX_CC_GATE_OPEN
FX_CC_WATER_FALL
FX_CC_HEAD_BONK_TWEAT_LOOP
FX_CC_LARGE_LIFT_LOOP
FX_CC_ROTATING_CRYSTAL
FX_CC_MUD_SQUELCH
FX_CC_DRIP1
FX_CC_DRIP2
FX_CC_DRIP3
FX_CC_MUDPOP
FX_CC_AMB_CRYSTAL_HUM
FX_CC_DRAGON_SNORE
FX_CC_FIREBALL

[PG_SND]
FX_PG_BOUNCE
FX_PG_EXPLODE
FX_PG_MAGIC_MUSHROOM
FX_PG_PGUARD_DEATH
FX_PG_PGUARD_HISS
FX_PG_PGUARD_HIT
FX_PG_PGUARD_SCREAM
FX_PG_PGUARD_SPURT
FX_PG_PPLANT_SPURT
FX_PG_PODBALL_GROAN
FX_PG_PPLANT_HIT
FX_PG_PPLANT_RISE
FX_PG_DOOR_OPEN
FX_PG_TENTACLE_MOVE1
FX_PG_TENTACLE_MOVE2
FX_PG_TENTACLE_RISE
FX_PG_PPLANT_SLURP
FX_PG_PPLANT_WALK
FX_PG_PPLANT_WAIT
FX_PG_BOULDER_HIT
FX_PG_BOULDER_ROLL_LOOP
FX_PG_BOULDER_SMASH
FX_PG_BOULDER_SMALL
FX_PG_MECH_TURN
FX_PG_THUNDER
FX_PG_THUNDER2
FX_PG_LOW_WIND_LOOP
FX_PG_WIND_LOOP
FX_PG_STATIC_WIND_LOOP
FX_PG_TUNNEL_WIND_LOOP
FX_PG_HOWLING_WIND_LOOP
FX_PG_DRIP1
FX_PG_DRIP3
FX_PG_WITCH_AMB
FX_PG_TENTACLE_AMB
FX_PG_PUMPKIN_WALK_AMB
FX_PG_DAN_DROWN
FX_PG_MECH_STOP
FX_PG_MUD_SQUELCH

[PS_SND]
FX_PS_RAT_SQUEAK
FX_PS_WATER_SPLASH
FX_PS_WITCH_CACKLE
FX_PS_WITCH_SHAZAM
FX_PS_WITCH_ZAP
FX_PS_DRIP1
FX_PS_DRIP2
FX_PS_DRIP3
FX_PS_THUNDER
FX_PS_THUNDER2
FX_PS_DOOR_OPEN
FX_PS_PGUARD_DEATH
FX_PS_PGUARD_HIT
FX_PS_PGUARD_SCREAM
FX_PS_PGUARD_SPURT
FX_PS_PGUARD_DYING_SPURT
FX_PS_PGUARD_HISS
FX_PS_TENTACLE_RISE
FX_PS_PPLANT_HIT
FX_PS_EXPLODE
FX_PS_PPLANT_RISE
FX_PS_PPLANT_SPURT
FX_PS_PUMPKIN_SLURP
FX_PS_PUMPKIN_WALK
FX_PS_PODBALL_HIT_SPLAT
FX_PS_AMB_2
FX_PS_BOUNCE
FX_PS_PODBALL_GROAN
FX_PS_FISH_SLAP
FX_PS_PGUARD_DEATH2
FX_PS_WITCH_AMB
FX_PS_TENTACLE_AMB
FX_PS_PUMPKIN_WALK_AMB
FX_PS_DAN_DROWN
FX_PS_WAND_WAVE
FX_PS_WITCH_FLOAT
FX_PS_CAULDRON_LOOP
FX_PS_POD_BURST1
FX_PS_POD_BURST2
FX_PS_MUDPOP
FX_PS_FISH_SLAP1
FX_PS_FISH_SLAP2

[SV_SND]
FX_SV_FOUNTAIN_LOOP
FX_SV_RAT_SQUEAK
FX_SV_WATER_SPLASH
FX_SV_LEVER
FX_SV_DOOR_OPEN
FX_SV_BELLOWS_FIRE
FX_SV_AMBIENT_FIRE
FX_SV_BELLOWS_FIRE_REPEAT
FX_SV_GATE_OPEN
FX_SV_HEAD_BONK_TWEAT2_LOOP
FX_SV_MRMAD_LAUGH
FX_SV_MSMAD_PAN_BASH
FX_SV_SOLDIERS_FOOTSTEP
FX_SV_WOOD_SMASH
FX_SV_WATER_LAP_LOOP
FX_SV_CHURCH_BELL
FX_SV_BELLOW_OUT
FX_SV_SAFE_DOOR
FX_SV_PAN_SWIPE
FX_SV_AXE_SWIPE
FX_SV_TAVERN1
FX_SV_TAVERN2
FX_SV_TAVERN1_QUIET
FX_SV_TAVERN2_QUIET
FX_SV_BLUNDERBUSS
FX_SV_MRMAD_BREATH2
FX_SV_SOLDIER_ATTACK
FX_SV_SOLDIER_DIE
FX_SV_SOLDIER_HURT
FX_SV_SOLDIER_STOP
FX_SV_TOWN_HALL1
FX_SV_TOWN_HALL2
FX_SV_MRMAD_DIE
FX_SV_MRMAD_HURT
FX_SV_DRIP1
FX_SV_DRIP2
FX_SV_DRIP3
FX_SV_MONKCHANT
FX_SV_PORTCULLIS
FX_SV_MSMAD_DIE
FX_SV_MSMAD_HURT1
FX_SV_MSMAD_OPERA
FX_SV_NELLIE_GIGGLE2
FX_SV_NELLIE_HUM
FX_SV_NELLIE_HURT
FX_SV_NELLIE_SOB2
FX_SV_DAN_DROWN
FX_SV_BOUNCE
FX_SV_NELLIE_FOOTSTEP
FX_SV_NELLIE_JUMP
FX_SV_WOODEN_PILLAR
FX_SV_NELLIE_AXE
FX_SV_MANSION_LEAP_OUT_OPEN
FX_SV_PRESSURE_PAD
FX_SV_BARREL_SLIDE
FX_SV_TAVERN3_LOOP

[PD_SND]
FX_PD_BRIDGE_BLOW
FX_PD_CLANK_HIT1
FX_PD_CLANK_HIT2
FX_PD_FLAG1
FX_PD_FLAG2
FX_PD_FLAG3
FX_PD_MUD_ESCAPE_SLURP
FX_PD_MUD_FALL_SQUELCH
FX_PD_MUD_FOOTSTEP
FX_PD_MUD_FOOTSTEP2
FX_PD_MUD_SPLAT
FX_PD_MUDPOP
FX_PD_PUNT_DOWN
FX_PD_PUNT_UP
FX_PD_RUSTYSQUEAK1
FX_PD_RUSTYSQUEAK2
FX_PD_SQUEAK_LONG
FX_PD_VINE_WHIP
FX_PD_MUD_KNIGHT_THROW
FX_PD_WATER_HULL_HIT1
FX_PD_WATER_HULL_HIT2
FX_PD_WOOD_MECH_TURN
FX_PD_CHARIOT_CRASH
FX_PD_RAIN_LOOP
FX_PD_DOOR_OPEN
FX_PD_DOOR_SLAM
FX_PD_GATE_OPEN
FX_PD_GHOUL_FLYING
FX_PD_WATER_LAP_LOOP
FX_PD_CHARIOT_START
FX_PD_DAN_DROWN
FX_PD_THUNDER1
FX_PD_THUNDER2
FX_PD_BOATMAN_MOVE1
FX_PD_BOATMAN_MOVE2
FX_PD_WATER_HULL_HIT1A
FX_PD_WATER_HULL_HIT2A
FX_PD_LAND_ON_BOAT
FX_PD_FIREBALL_IMPACT

[AG_SND]
FX_AG_CHESS_KING1
FX_AG_CHESS_KING2
FX_AG_CHESS_KING3
FX_AG_CHESS_PASTOR1
FX_AG_CHESS_PASTOR2
FX_AG_CHESS_PASTOR3
FX_AG_CHESS_CASTLE1
FX_AG_CHESS_CASTLE2
FX_AG_CHESS_CASTLE3
FX_AG_CHESS_KING_HIT
FX_AG_CHESS_PASTOR_HIT
FX_AG_CHESS_CASTLE_HIT
FX_AG_HEDGERUSTLE
FX_AG_MADLAUGH
FX_AG_GATE_OPEN
FX_AG_GRATE_CLOSE
FX_AG_BELL
FX_AG_STAR_SPIN_LOOP
FX_AG_STAR_EXPLODE
FX_AG_RAT_SQUEEK
FX_AG_PORTCULLIS_UP
FX_AG_STONE_TURN
FX_AG_CLOWN_LAUGH
FX_AG_DRAGON
FX_AG_ELEPHANT
FX_AG_OCTOPUS
FX_AG_BIRD01
FX_AG_BIRD03
FX_AG_BIRD04
FX_AG_MOUSE_SCARED
FX_AG_STONE_CAT_HISS1
FX_AG_CHESS_QUEEN1
FX_AG_CHESS_QUEEN2
FX_AG_CHESS_QUEEN3
FX_AG_CHESS_QUEEN_HIT
FX_AG_CHESS_PIECE_LOCATE
FX_AG_FIREBALL
FX_AG_MONK_SWIPE
FX_AG_MONK_ATTACK
FX_AG_MONK_DIE
FX_AG_MONK_HURT
FX_AG_HEDGE_EXPLODE
FX_AG_BOULDER_HIT
FX_AG_BOULDER_SMASH
FX_AG_LEAVE_LIGHT_ROOM
FX_AG_FIRE_BLOCK_PUSH

[IA_SND]
FX_IA_CHAINS1
FX_IA_CHAINS2
FX_IA_CHAINS3
FX_IA_KUNGFU1
FX_IA_KUNGFU2
FX_IA_LAUGH1
FX_IA_LAUGH5
FX_IA_WHOOP1
FX_IA_WHOOP2
FX_IA_GATE_OPEN
FX_IA_PORTCULLIS
FX_IA_CANNON
FX_IA_DRIP1
FX_IA_DRIP2
FX_IA_DRIP3
FX_IA_BAT_SQUEAK
FX_IA_WIND2
FX_IA_ZOMBIE_CONFUSED
FX_IA_ZOMBIE_FALL
FX_IA_ZOMBIE_GROAN1
FX_IA_ZOMBIE_GROAN2
FX_IA_ZOMBIE_ROAR1
FX_IA_ZOMBIE_ROAR2
FX_IA_ZOMBIE_WAKEUP
FX_IA_EXPLOSION
FX_IA_LAVA_LOOP
//FX_IA_DAN_DROWN
FX_IA_MAYOR_BOW
FX_IA_MAX

[EE_SND]
FX_EE_BIRD01
FX_EE_BIRD02
FX_EE_BIRD04
FX_EE_BIRD05
FX_EE_BIRD06
FX_EE_BIRD07
FX_EE_BIRD08
FX_EE_BIRD09
FX_EE_BIRD10
FX_EE_BIRD11
FX_EE_CABLE_CAR
FX_EE_EGG_SMASH
FX_EE_GBIRD_CALL
FX_EE_GBIRD_WING
FX_EE_MOLTEN_EXPLODE
FX_EE_MOLTEN_WHOOSH
FX_EE_POD_SPITTA
FX_EE_PRESSURE_PAD
FX_EE_TOAD_CROAK
FX_EE_WDEMON_ATTACK
FX_EE_WDEMON_DEATH
FX_EE_WDEMON_INJURE
FX_EE_WDEMON_RELEASE
FX_EE_WSTAT_EYES
FX_EE_WITCH_CACKLE
FX_EE_WITCH_SHAZAM
FX_EE_WITCH_ZAP
FX_EE_DOOR_OPEN
FX_EE_PORTCULLIS
FX_EE_WATER_SPLASH
FX_EE_CAULDRON_LOOP
FX_EE_STONE_RUMBLE
FX_EE_GOBBA_SHRINK
FX_EE_CRAWL_DEMON_ATTACK
FX_EE_CRAWL_DEMON_DIE
FX_EE_CRAWL_DEMON_HURT
FX_EE_WIND_LOOP
FX_EE_WIND_LOOP_LOUD
FX_EE_ACID_SQUIRT2
FX_EE_BLAZE
FX_EE_WDEMON_FLAP1
FX_EE_WDEMON_FLAP2
FX_EE_DAN_DROWN
FX_EE_WITCH_STUR
FX_EE_CRAWL_DEMON_HOWL
FX_EE_TOMB_OPENING
FX_EE_GREEN_EXPLOSION
FX_EE_PLATFORM_RISE
FX_EE_PLATFORM_TILT
FX_EE_SUMMON_MAGIC
FX_EE_FIREBALL
FX_EE_GBIRD_WHOOSH
FX_EE_FIREBALL_IMPACT

[GG_SND]
FX_GG_GALLOWS_DESTROY
FX_GG_GALLOWS_SWING
FX_GG_GALLOWS_WALK
FX_GG_GALLOWS_THUD
FX_GG_SNAKE_SERPENT
FX_GG_SKEWEREDMAN_RUN
FX_GG_PRESSURE_PAD2
FX_GG_SKEWER_BREAK
FX_GG_MUM_ATTACK
FX_GG_MUM_DIE
FX_GG_MUM_HURT
FX_GG_SZOMBIE_ATTACK
FX_GG_SZOMBIE_DIE
FX_GG_SZOMBIE_HURT
FX_GG_SZOMBIE_STRAIN
FX_GG_MUM_FOOTSTEPS
FX_GG_DRIP1
FX_GG_DRIP2
FX_GG_DRIP3
FX_GG_WIND_LOOP
FX_GG_PORTCULLIS
FX_GG_MUMMY_ATTACK2
FX_GG_MUMMY_DIE2
FX_GG_MUMMY_HURT2
FX_GG_MUMMY_HURT3
FX_GG_SZOMBIE_ATTACK2
FX_GG_SZOMBIE_ATTACK3
FX_GG_SZOMBIE_ATTACK4
FX_GG_SZOMBIE_DIE2
FX_GG_SZOMBIE_DIE3
FX_GG_SZOMBIE_DIE4
FX_GG_SZOMBIE_HURT2

[HR_SND]
FX_HR_CHICKEN_CLUCK
FX_HR_CHICKEN_CLUCK_REPEAT
FX_HR_CHICKEN_FRIGHT
FX_HR_CRAWL_DEMON_ATTACK
FX_HR_CRAWL_DEMON_DIE
FX_HR_CRAWL_DEMON_HIT
FX_HR_PORTCULLIS
FX_HR_BLAZE
FX_HR_PRESSURE_PAD
FX_HR_WDEMON_FLAP1
FX_HR_WDEMON_FLAP2
FX_HR_CANNON
FX_HR_CATAPULT
FX_HR_CYCLOPS_FIRE
FX_HR_LEVER
FX_HR_OIL_POUR_LOOP
FX_HR_TICK
FX_HR_TIMER_ACTIVE_AMB_LOOP
FX_HR_TOCK
FX_HR_TORTURE_RUN_SCREAM
FX_HR_TORTURE_SCREAM1
FX_HR_TORTURE_SCREAM2
FX_HR_KINGS_BEARD
FX_HR_KINGS_MAGIC
FX_HR_BOULDER_ROLL_AB
FX_HR_BOULDER_SMASH_AB
FX_HR_FLYING_BOULDER
FX_HR_DAN_FLYING_UP
FX_HR_DAN_FLYING_DOWN
FX_HR_DOOR_OPEN
FX_HR_GATE_OPEN
FX_HR_WIND_LOOP
FX_HR_FLAME_JET
FX_HR_GOLEM_FOOTSTEP
FX_HR_GOLEM_PUSHING
FX_HR_GOLEM_FALL
FX_HR_CASTLE_FALLING_DOWN
FX_HR_LAVA_FLOOD
FX_HR_MUD_SQUELCH
FX_HR_CRAWL_DEMON_HOWL
FX_HR_GHOST
FX_HR_DRAWBRIDGE_BOOM
FX_HR_EXTINGUISH
FX_HR_WATER_SPLASH

[HH_SND]
FX_HH_PORTCULLIS
FX_HH_APPEAR
FX_HH_DISAPPEAR
FX_HH_STATUE_HUM
FX_HH_WHIRLING_LOOP

[GS_SND]
FX_GS_BARREL_EXPLODE
FX_GS_BARREL_ROLL
FX_GS_BONE_CLATTER1
FX_GS_CLOCK
FX_GS_HULL_CREAK1
FX_GS_HULL_CREAK2
FX_GS_HULL_CREAK3
FX_GS_LIFT
FX_GS_PIRATE_DIE
FX_GS_PIRATE_FOOT_DRAG
FX_GS_PIRATE_HURT
FX_GS_PIRATE_SPOT_DAN
FX_GS_PIRATE_SWORD_SWIPE
FX_GS_PIRATE_HOOK_SLASH
FX_GS_PIRATE_DAGGER_THROW
FX_GS_ROPE_CREAK1
FX_GS_ROPE_CREAK2
FX_GS_ROPE_CREAK1_AMB
FX_GS_ROPE_CREAK2_AMB
FX_GS_ROTATE_SPOON
FX_GS_SHIP_BELL
FX_GS_SHIP_LIST
FX_GS_WOOD_MECH3
FX_GS_FOOT_WOOD_WALK
FX_GS_CANNON
FX_GS_DOOR_OPEN
FX_GS_WIND_LOOP1
FX_GS_WIND_LOOP2
FX_GS_FLAG1
FX_GS_FLAG2
FX_GS_FLAG3
FX_GS_PIRATE_ATTACK
FX_GS_PIRATE_LAUGH
FX_GS_BONE_HIT
FX_GS_BOUNCE


[EH_SND]
FX_EH_IMP1
FX_EH_IMP2
FX_EH_IMP3
FX_EH_IMP_ATTACK1
FX_EH_IMP_ATTACK2
FX_EH_IMP_ATTACK3
FX_EH_AMB1_1OCT_LOOP
FX_EH_WATER_FALL_LOOP
FX_EH_AMB8_1OCT_LOOP
FX_EH_WEAPON_WATER_CUT
FX_EH_IMP_SHIELD


[TD_SND]
FX_TD_3BLADE_LOOP
FX_TD_BOUNCE
FX_TD_SMALL_CHIME
FX_TD_LARGE_CHIME
FX_TD_CLOCK_SWITCH_BIG_TICK
FX_TD_CLOCK_SWITCH_SMALL_TICK
FX_TD_FLYING_CLOCK
FX_TD_SAND
FX_TD_SAND_START
FX_TD_TELEPORT
FX_TD_TRAIN
FX_TD_TRAIN_WHISTLE
FX_TD_SOLDIER_DIE
FX_TD_SOLDIER_HURT
FX_TD_SOLDIER_STOP
FX_TD_SOLDIER_FOOTSTEP
FX_TD_LEVER
FX_TD_GATE_OPEN
FX_TD_PORTCULLIS
FX_TD_AMB4
FX_TD_BLUNDERBUSS
FX_TD_ELECTRICAL_HUM2
FX_TD_CLOCK_HANDS1_LOOP
FX_TD_CLOCK_HANDS2_LOOP
FX_TD_CLOCK_HANDS3_LOOP
FX_TD_CLOCK_TELLER_HANDS_LOOP
FX_TD_PLATFORM_CLUNK
FX_TD_PLATFORM_TURN2
FX_TD_PEN_TICK
FX_TD_PEN_TOCK
FX_TD_BOUNCEY_CLOCK_TICK
FX_TD_BOUNCEY_CLOCK_TOCK
FX_TD_BLAZE_LONG
FX_TD_BLAZE_SHORT
FX_TD_CLOCKWORK_KEY
FX_TD_TRAIN_SKID
FX_TD_EYE_BEAM2_LOOP
FX_TD_EYE_POP
FX_TD_GLASS1
FX_TD_GLASS2
FX_TD_BRAIN_BOUNCE_SPURT
FX_TD_STONE_RUMBLE_LOOP


[LA_SND]
FX_LA_CRYSTAL_MACHINE
FX_LA_DRAG_ELEPH1
FX_LA_FOOT_WOOD_RUN
FX_LA_FOOT_WOOD_WALK
FX_LA_TOAD_DEMON_ATTACK
FX_LA_TOAD_DEMON_DIE
FX_LA_TOAD_DEMON_HURT
FX_LA_TOAD_DEMON_SIT
FX_LA_WATER_DRIP1_LOOP
FX_LA_WATER_DRIP2_LOOP
FX_LA_WATER_SPLASH
FX_LA_WATER_SQUIRT
FX_LA_WHIRLPOOL_STOP
FX_LA_WHIRLPOOL_LOOP
FX_LA_LEVER
FX_LA_WATER_LAP_UNDER_LOOP
FX_LA_WATER_LAP_SHORE_LOOP
FX_LA_AMB4
FX_LA_DRIP1
FX_LA_DRIP2
FX_LA_DRIP3
FX_LA_FISH_DIE
FX_LA_TOAD_DEMON_ATTACK2
FX_LA_TOAD_DEMON_WALK
FX_LA_WATER_SQUIRT1
FX_LA_WATER_SQUIRT2
FX_LA_WATER_AMB_LOOP
FX_LA_WATER2
FX_LA_WATER_LAP2
FX_LA_PLATFORM_TURN
FX_LA_PUNT_UP
FX_LA_PUNT_DOWN
FX_LA_WATER_HULL_HIT1
FX_LA_DAN_DROWN
FX_LA_PORTCULLIS
FX_LA_FIREBALL_IMPACT

[ZL_SND]
FX_ZL_HORSE_HOOVES
FX_ZL_HORSE_HOOVES_GALLOP
FX_ZL_HORSE_SCREAM
FX_ZL_HORSE_SNORT
FX_ZL_METAL_DOOR_CLOSE
FX_ZL_RUMBLE
FX_ZL_TRAIN_SKID
FX_ZL_TRAIN_LOOP
FX_ZL_TRAIN_WHISTLE
FX_ZL_ZAROK_FIRE
FX_ZL_ZAROK_FOOTSTEP2
FX_ZL_PORTCULLIS
FX_ZL_SKELETON_FOOTSTEP1
FX_ZL_SKELETON_FOOTSTEP2
FX_ZL_ROCK_BOUNCE1
FX_ZL_DISINTEGRATE
FX_ZL_SPLAT
FX_ZL_GLASS_CHINK
FX_ZL_ROCK_BOUNCE2
FX_ZL_ROCK_WHOOSH
FX_ZL_MACE_LAUNCH
FX_ZL_MACE_EXPLODE
FX_ZL_KNIGHT_POWER_UP
FX_ZL_KNIGHT_SHIELD
FX_ZL_ZAROK_ATTACK
FX_ZL_ZAROK_DIE
FX_ZL_ZAROK_HURT
FX_ZL_ZAROK_SWIPE
FX_ZL_ZAROK_HIT_GROUND
FX_ZL_DOOR_CLOSE
FX_ZL_KNIGHTS_MACE_SWING
FX_ZL_ZAROK_MAGIC_ATTACK
FX_ZL_ZAROK_MAGIC_LIGHTNING
FX_ZL_HORSE_NEIGH
FX_ZL_KNIGHT_VANISH
FX_ZL_ZAROK_MAGIC_ZAP_LOOP
FX_ZL_WIND_LOOP
FX_ZL_ZAROKS_FOOT_STEPS
FX_ZL_BONE_HIT
FX_ZL_ESK_CHARGE1
FX_ZL_ESK_CHARGE2
FX_ZL_ESK_CHARGE3
FX_ZL_ESK_CHARGE4
FX_ZL_ESK_GRUNT1
FX_ZL_ESK_GRUNT2
FX_ZL_ESK_GRUNT3
FX_ZL_ESK_GRUNT4
FX_ZL_ESK_GRUNT5
FX_ZL_SKELETON_FOOT
FX_ZL_KARDOK_ATTACK
FX_ZL_KARDOK_BREATH
FX_ZL_KARDOK_HURT1
FX_ZL_KARDOK_HURT2
FX_ZL_KARDOK_HURT3
FX_ZL_BATTLE_AMB_LOOP
FX_ZL_MAX


