[GENERIC]
GEN_FROG_DROWN
GEN_FROG_CROAK
GEN_FROG_FLY_GULP
GEN_FROG_HOP
MUSIC_LEVELCOMP # MUSIC_LEVEL_COMPLETE
MUSIC_TARGETCOMPLETE # MUSIC_TARGET_COMPLETE
MUSIC_TIMEOUT
GEN_FLY_BUZZ

[CAVES]
CAV_BAT
CAV_FIREFLY
CAV_LAVADROP_BUBBLE
CAV_LAVADROP_FLOORHIT
CAV_ROCKFALLFLOOR
CAV_ROPEBRIDGE01
CAV_ROPEBRIDGE02
CAV_SLIME
CAV_SNAIL_MOVE
CAV_SNAIL_SLIME
CAV_SPIDER
CAV_VAMP_BAT

[DESERT]
DES_CRACK
DES_EARTHQUAKE
DES_HOLE01
DES_HOLE02
DES_LIZARD
DES_SALAMANDER
DES_SANDSTORM
DES_SNAKE_HISS
DES_SNAKE_RATTLE
DES_VULTURE
DES_BISON
DES_FALLING_ROCK # This is a guess.
DES_BISONNOISE

[FOREST]
# Dummy audio data in this build.

[JUNGLE]
# Dummy audio data in this build.

[ORIGINAL]
ORG_BABYFROG_CROAK
ORG_BABYFROG_HOP
ORG_BEAVER_SPLASH # Confirmed by Frogger audio backup from Frogger 2 (rushedmap\)
ORG_BULLDOZER_HORN
ORG_BULLDOZER_HORN02
ORG_CAR_HORN01
ORG_CAR_HORN02
ORG_CROCODILE_SNAP # Hmm, this sound doesn't seem to match the name. But, the name is probably right.
ORG_FROG_CROC_MUNCH
ORG_FROG_TRAFFIC_SPLAT # Confirmed by Frogger audio backup from Frogger 2 (rushedmap\)
ORG_FROG_TURTLE_THUD # Confirmed by Frogger audio backup from Frogger 2 (rushedmap\)
ORG_LADYFROG_CROAK # Confirmed by Frogger audio backup from Frogger 2 (rushedmap\)
ORG_LADYFROG_HOP # Confirmed by Frogger audio backup from Frogger 2 (rushedmap\)
ORG_LOG_SMALL
ORG_ROADNOISE # ORG_ROAD_NOISE
ORG_SNAKEHISS
ORG_TURTLE_SPLASH # Confirmed by Frogger audio backup from Frogger 2 (rushedmap\)
ORG_WATERNOISE # ORG_WATER_NOISE
ORG_LORRY_HORN01
ORG_LORRY_HORN02

[RUINS]
# Dummy audio data in this build.

[SWAMP] # All from 'frogwin.bak'
SWP_BOX
SWP_CRUSHER
SWP_NEWSPAPER
SWP_NEWSPAPER_TORN
SWP_NUCLEAR_BARREL_EXPLODE
SWP_NUCLEAR_BARREL_GEIGER
SWP_OIL_DRUM
SWP_PALLET
SWP_RAT
SWP_RACCOON
SWP_STAT_FLUME
SWP_STAT_PIPE
SWP_STAT_PIPE_BIG_STR
SWP_STAT_PIPE_HOLE
SWP_STAT_PIPE_STR
SWP_STAT_SUNKCAR
SWP_STAT_MARSH
SWP_STAT_WEIR
SWP_WASTE_BARREL

[SKY]
SKY_BIPLANE1
SKY_BIPLANE_BANNER1
SKY_BIRD1_CALL
SKY_BIRD1_CALL_FRENZIED
SKY_BIRD1_WING
SKY_BIRD1_WING_FRENZIED
SKY_BIRD2_CALL
SKY_BIRD2_CALL_FRENZIED
SKY_BIRD3_CALL
SKY_BIRD3_CALL_FRENZIED
SKY_BIRD4_CALL
SKY_BIRD4_CALL_FRENZIED
SKY_BIRDHAWK_CALL
SKY_BIRDHAWK_DIVE
SKY_FLOCKING1 # Yes, this sound is included twice.
SKY_FLOCKING1
SKY_HAWK_CALL
SKY_HAWK_DIVE
SKY_HELICOPTER_FROG_KILL
SKY_HELICOPTER_NOISE
SKY_HELIUM_BALLOON_CROAK
SKY_HELIUM_BALLOON_POP
SKY_JET1
SKY_JET3
SKY_LITTLE_BIRD_CALL
SKY_LITTLE_BIRD_CALL_FRENZ
SKY_RUBBER_BALLOON_FART
SKY_RUBBER_BALLOON_SQUEAK
SKY_THUNDERCLOUD_LIGHTENING
SKY_THUNDERCLOUD_RUMBLE

[SUBURBIA]
SUB_CAR_HORN01
SUB_CAR_HORN02
SUB_DOG_BARK
SUB_DOG_EAT
SUB_DOG_GROWL
SUB_FISH_JUMP
SUB_FROG_MOWED
SUB_HEDGEHOG_HIT
SUB_HEDGEHOG_ROLLING
SUB_LILLY_PAD
SUB_LORRY_HORN01
SUB_LORRY_HORN02
SUB_MOWER
SUB_PEDDLE_BOAT
SUB_SWAN_CALL
SUB_SWAN_FLAPPING
SUB_TURTLE_SPLASH
SUB_FROG_TURTLE_THUD

[VOLCANO]
# Dummy audio data in this build.

[SELECT]
CANCEL
HI_SCORE_COUNT
HI_SCORE_COUNT02
HI_SCORE_FINISH